In [1]:
a = 10
b = 20
print(a) 
print(b)

10
20

In [6]:
print(10)
print(20)

10
20

In [3]:
print(20)

20

In [2]:
print(10), print(20)

10
20

(None, None)

In [5]:
10 , 20

(10, 20)

In [7]:
print(a,b)

10 20

In [4]:
print(22,"abhay","hyd")

22 abhay hyd

In [3]:
print(30, 'naresh it','hyd')

#3values

30 naresh it hyd

In [13]:
num1 =100
num2 =200
add=num1+num2
# the addition of 100 and 200 is 300
print("the addition of 100 and 200 is 300")
print("the addition of num1 and num2 is 300")
print("the addition of ",num1, "and",num2,"is",add)

the addition of 100 and 200 is 300
the addition of num1 and num2 is 300
the addition of  100 and 200 is 300

In [3]:
num1 = 1000
num2 = 2000
add = num1+num2
print("the addition of", num1, "and", num2, "is" ,add)

the addition of 1000 and 2000 is 3000

In [17]:
name ="python"
age=10
city="hyd"
#my name is python im age 10 year old come from hyd
print("my name is python im age 10 year old come from hyd")
print("my name is name im age year old come from city")

my name is python im age 10 year old come from hyd
my name is name im age year old come from city

**format**

In [4]:
name ="python"
age=10
city="hyd"
print("my name is {} im {} yeras old and come from {}".format(name, age, city))

my name is python im 10 yeras old and come from hyd

In [5]:
name ="Abhay"
age=10
city="hyd"
print("my name is {} im {} yeras old and come from {}". format(city, name, age))

my name is hyd im Abhay yeras old and come from 10

In [2]:
num1=3000
num2=6000
total=num1+num2
print("the addition of number {} and {} is :{}".format(num1,num2,total))
print("the addition of number 3000 and 6000 is :9000")

the addition of number 3000 and 6000 is :9000
the addition of number 3000 and 6000 is :9000

In [21]:
num1 =1000
num2=2000
add=num1+num2
#the addition of 1000 and 2000 is 3000
print("the addition of 1000 and 2000 is 3000")
print("the addition of {} and {} is {}".format(num1, num2, add))

the addition of 1000 and 2000 is 3000
the addition of 1000 and 2000 is 3000

In [4]:
# wap take two numbers perform the
# subtraction
# multiplication
# print the statements as follows

# the subtraction of 100 and 200 is -100
# the multiplication of 100 and 200 is 20000
# the division of 100 and 200 is 0.5

num1=100
num2=200
sub=num1-num2
print("sub number :",sub)
mul=num1*num2
print("mul number :",mul)
div=num1/num2
print("div number :",div)

sub number : -100
mul number : 20000
div number : 0.5

In [ ]:
# Wap take three number perform the avearage
# a,b,c
# avg = (a+b+c)/3
# print the statement
# the avge of a,b,c is : avg

In [24]:
# Wap take three number perform the avearage
a,b,c = 10,20,30
avg= (a+b+c)/3
print("the avg of {},{},{} is :{}".format(a,b,c, avg))

the avg of 10,20,30 is :20.0

In [8]:
# Wap take three number perform the avearage
a,b,c = 1,2,3
avg= (a+b+c)/3
print("the avg of {},{},{} is :{}".format(a,b,c, avg))

the avg of 1,2,3 is :2.0

In [5]:
num1=100
num2=200
add=num1+num2
print("the add of num1 and num2 is add")
print("the add of {} and {} is {}".format(num1,num2,add))

print("===================================================================")



num1=100
num2=200
sub=num1-num2
print("the sub of num1 and num2 is sub")
print("the sub of {} and {} is {}".format(num1,num2,sub))

print("====================================================================")
num1=100
num2=200
mul=num1*num2
print("the multiplication of num1 and num2 is mul")
print("the multiplication of {} and {} is {}".format(num1,num2,mul))

print("=====================================================================")

num1=100
num2=200
div=num1/num2
print("the div of num1 and num2 is div")
print("the div of {} and {} is {}".format(num1,num2,div))

print("========================================================================")

num1=100
num2=200
avg=(num1+num2)/2
print("the avg of num1 and num2 is avg")
print("the avg of {} and {} is {}".format(num1,num2,avg))

the add of num1 and num2 is add
the add of 100 and 200 is 300
===================================================================
the sub of num1 and num2 is sub
the sub of 100 and 200 is -100
====================================================================
the multiplication of num1 and num2 is mul
the multiplication of 100 and 200 is 20000
=====================================================================
the div of num1 and num2 is div
the div of 100 and 200 is 0.5
========================================================================
the avg of num1 and num2 is avg
the avg of 100 and 200 is 150.0

**F string**

In [40]:
num1= 100
num2=200
add=num1+num2
sub=num1-num2
mul=num1*num2
div=num1/num2

print("the addition of 100 and 200 is 300")
print("the addition of {} and {} is {}". format(num1,num2,add))
print(f"the addition of {num1} and {num2} is {add}")
print(f"the sub of {num1} and {num2} is {sub}")
print(f"the mul of {num1} and {num2} is {mul}")
print(f"the div of {num1} and {num2} is {div}")

the addition of 100 and 200 is 300
the addition of 100 and 200 is 300
the addition of 100 and 200 is 300
the sub of 100 and 200 is -100
the mul of 100 and 200 is 20000
the div of 100 and 200 is 0.5

**round**

In [6]:
# print()
# type()
# int()
# float()
# str()
# bool()
# round()

In [7]:
round(10.999)

11

In [8]:
20.3

20.3

In [9]:
round(20.3333333333333333)

20

In [10]:
round(20.333,2)

20.33

In [47]:
round(10.66666,4)

10.6667

In [48]:
print(round(10.77777))
print(round(10.77777,2))
print(round(10.77777,3))
print(round(10.77777,5))

11
10.78
10.778
10.77777

In [57]:
a=11
b=20
c=30
avg=(a+b+c)/3
avg1=round(avg,2)
print(avg1)
print(round(avg,2))

20.33
20.33

**I have multiple print statement but i want to show in single line**

**END Operator**

In [52]:
print(10,end="   ")
print(20)

10   20

In [53]:
print(10,end=" ")
print(20,end=" ")
print(30)

10 20 30

In [59]:
print('hello',end=' ')
print('how',end=' ')
print('are',end=' ')
print('you')

hello how are you

In [60]:
print('hello how are you')

hello how are you

**I have multiple values in a single print statement**

**I want print them with some seperation**

In [61]:
print(10,20,30)

10 20 30

**Sep**

In [62]:
print(10,20,30,sep='   ')

10   20   30

In [63]:
print(10,20,30,sep='=======>')

10=======>20=======>30

- Basic print statement

- We learn format method

- We learn f string 

- We learn round

- We learn end operator

- We learn sep operator

In [16]:
# wap take the radidus of a circle calculate area of the circle
# var: radidus var:= 3.14
#formuale: pi*radius*radius
#print the answer using f string and format

radius=int(input("enter the number:"))
pi=3.14
area=pi*radius*radius
print(f"area of the circle {radius} is: {area}")

print("====================================================")
#wap take the breadth and height of a right angle triangle
#calculate the area
#var1: bredath var2:height
#formuale: 0.5*bredath*height

breadth=int(input("enter the number:"))
height=int(input("enter the number:"))
area=0.5*breadth*height
print(f"the breadth {breadth} and height {height} is: {area}")

print("===========================================================")
#wap take the bill amount and tip amount
#calculate total bill
#var1: bill amount var2: tip amount
# formuale
bill_amount=int(input("enter the number:"))
tip_amount=int(input("enter the number :"))
total_amount=bill_amount+tip_amount
print(f" paying the bill amount {bill_amount} and tip amount {tip_amount} is : {total_amount} ")

print("============================================================================================")
#wap take the length and breadth a rectangle calculate area
#var1: length var2: breadth
#formulae: length*breadth

length=int(input("enter the number:"))
breadth=int(input("enter the number:"))
area=length*breadth
print(f"the length {4} and breadth {8} is : {area} ")

enter the number: 7

area of the circle 7 is: 153.86
====================================================

enter the number: 4
enter the number: 6

the breadth 4 and height 6 is: 12.0
===========================================================

enter the number: 400
enter the number : 50

 paying the bill amount 400 and tip amount 50 is : 450
============================================================================================

enter the number: 4
enter the number: 6

the length 4 and breadth 8 is : 24

In [1]:
# wap take the radidus of a circle calculate area of the circle
# var: radidus var:= 3.14
#formuale: pi*radius*radius
#print the answer using f string and format

var = int(input("Enter Radius:"))
pi = 3.14
area =pi*var*var
print("Area of a circle of {} and {} is: {}".format(var,pi,area))
print(f"Area of a circle of {var},and,{pi}, is: {area}")

Enter Radius: 2

Area of a circle of 2 and 3.14 is: 12.56
Area of a circle of 2,and,3.14, is: 12.56

In [2]:
#wap take the breadth and height of a right angle triangle
#calculate the area
#var1: bredath var2:height
#formuale: 0.5*bredath*height



var1=int(input("Enter Breath:"))
var2=int(input("Enter Height:"))
area=0.5*var1*var2
print("Area of a triangle of breath {} and height {}  is :{}".format(var1,var2,area))
print(f"Area of a triangle of breath {var1} and height {var2}  is :{area}")

Enter Breath: 8
Enter Height: 12

Are of a triangle of breath 8 and height 12  is :48.0
Are of a triangle of breath 8 and height 12  is :48.0

In [3]:
#wap take the bill amount and tip amount
#calculate total bill
#var1: bill amount var2: tip amount
# formuale


var1=int(input("Enter Bill_amount:"))
var2=int(input("Enter Tip_amount:"))
Total_bill=var1+var2
print("Total Bill by paying Bill amount{} and tip{} is:{}".format(var1,var2,Total_bill))
print(f"Total Bill by paying Bill amount{var1} and tip{var2} is:{Total_bill}")

Enter Bill_amount: 552
Enter Tip_amount: 48

Total Bill by paying Bill amount552 and tip48 is:600
Total Bill by paying Bill amount552 and tip48 is:600

In [6]:
#wap take the length and breadth a rectangle calculate area
#var1: length var2: breadth
#formulae: length*breadth

var1=int(input("Enter length:"))
var2=int(input("Enter Breath:"))
area=var1*var2
print("Area of Reactangle of length {} and height {} is: {}".format(var1,var2,area))
print(f"Area of Reactangle of length {var1} and height {var2} is: {area}")

Enter length: 5
Enter Breath: 8

Area of Reactangle of length 5 and height 8 is: 40
Area of Reactangle of length 5 and height 8 is: 40

In [1]:
input