## list comprehension
- list comprehension a way to write list operations in a single line
- when we apply for loop and if-else conditional statements then the code compilation
- which means it takes much time 
- in order to avoide the time complexity we will use list comprehension
- list comprehension is a single line code

**case-1 only for loop**

In [2]:
list1=[]
for i in range(10):
    list1.append(i)

list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list1=[<code should write here>]
# inside code no need of append
list1=[<output var><for loop>]

**dont give : after for loop**

In [5]:
list2=[i for i in range(10)]
list2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
# Q.1 input=['hyd','bengaluru','pune','mumbai']
#      output=['Hyd','Bengaluru','Pune','Mumbai']
input=['hyd','bengaluru','pune','mumbai']
l1=[i.upper() for i in input]
l1

['HYD', 'BENGALURU', 'PUNE', 'MUMBAI']

In [9]:
# Q.2 input=['hyd','bengaluru','pune','mumbai']
# output= ['HYD', 'BENGALURU', 'PUNA','MUMBAI']
input=['hyd','bengaluru','pune','mumbai']
l1=[i.capitalize() for i in input]
l1

['Hyd', 'Bengaluru', 'Pune', 'Mumbai']

In [10]:
# Q.3 output =['hyd','bengaluru','pune','mumbai']
# input= ['HYD', 'BENGALURU', 'PUNA','MUMBAI']
input= ['HYD', 'BENGALURU', 'PUNA','MUMBAI']
l1=[i.lower() for i in input]
l1

['hyd', 'bengaluru', 'puna', 'mumbai']

In [11]:
# Q.3 input =['hyd','bengaluru','pune','mumbai']
# multiply the index with 10

# idea : get the inde list first
# then multiply with 10

input =['hyd','bengaluru','pune','mumbai']
l1=[input.index(i)*10 for i in input]
l1=[input.index(i)*10 for i in ['hyd','bengaluru','pune','mumbai']]
l1

[0, 10, 20, 30]

In [13]:
# Q.4 input =['hyd','bengaluru','pune','mumbai']
#   calculate summ of index
input =['hyd','bengaluru','pune','mumbai']
output=[input.index(i)*10 for i in input]
sum(output)

60

In [11]:
num=int(input("enter the number :"))
for i in range(1,11):
    print(f"{num}*{i} : {num*i}")

enter the number : 4

4*1 : 4
4*2 : 8
4*3 : 12
4*4 : 16
4*5 : 20
4*6 : 24
4*7 : 28
4*8 : 32
4*9 : 36
4*10 : 40

In [16]:
summ=0
for i in range(1,11):
    summ=summ+i
print(summ)

55

**walrus operator**

In [19]:
summ=0
[summ:=summ+i for i in range(1,11)]

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [22]:
summ=0
for i in range(1,11):
    summ=summ+i

[summ:=summ+i for i in range(1,11)]

[56, 58, 61, 65, 70, 76, 83, 91, 100, 110]

In [23]:
summ=0
[summ:=summ+i for i in range(1,11)]
summ

55

**case-2 : for loop if condition**

In [26]:
# even number
for i in range(1,10):
    if i%2==0:
        print(f"even number {i}")

even number 2
even number 4
even number 6
even number 8

[<output> <for loop> >if condition>]

In [27]:
[f"even number {i}" for i in range(1,10) if i%2==0]

['even number 2', 'even number 4', 'even number 6', 'even number 8']

In [32]:
# Q.1 input=['hyd','ben#galuru','pune','mum#bai']
#      output=['Ben#galuru',Mum#bai']

input=['hyd','ben#galuru','pune','mum#bai']
l1=[i for i in input if '#' in i]
l1

['ben#galuru', 'mum#bai']

In [33]:
# Q.2 input=['hyd','ben#galuru','pune','mum#bai']
#      output=['hyd',Ben#galuru','pune',Mum#bai']

input=['hyd','ben#galuru','pune','mum#bai']
l1=[i for i in input if '#'not in i]
l1

['hyd', 'pune']

**case-3 : for loop if-else**

In [ ]:
[<if output> <if condition> else <else output> <for loop>]

In [ ]:
# even number
for i in range(1,10):
    if i%2==0:
        print(f"even number {i}")

In [39]:
l1=[f"even number {i}" if i%2==0 else f"odd number {i}" for i in range(1,10)]
l1

['odd number 1',
 'even number 2',
 'odd number 3',
 'even number 4',
 'odd number 5',
 'even number 6',
 'odd number 7',
 'even number 8',
 'odd number 9']

**case-4 : for loop if-elif-else**

- list comperhension we don't have **elif** represention
- 
- elif also represent as else+if
- 
- in elif we have **elif condition** and **elif output**
- 
- else elif_output elif_condition

- [<if output> <if condition> else <elif output> <elif condition> else <else output> <for loop>]

**note**: instead of elif term write if

In [18]:
l=[45,55,75,85,95,78]
for i in l:
    if i>85:
        print(f"{i} : A Grade")
    elif i>75:
        print(f"{i} : B Grade")
    else:
        print(f"{i} : c Grade")

45 : c Grade
55 : c Grade
75 : c Grade
85 : B Grade
95 : A Grade
78 : B Grade

In [19]:
[f"{i} : A Grade" if i>85 else f"{i} : B Grade" if i>75 else f"{i} : c Grade" for i in l ]

['45 : c Grade',
 '55 : c Grade',
 '75 : c Grade',
 '85 : B Grade',
 '95 : A Grade',
 '78 : B Grade']

In [27]:
num=eval(input("enter the number:"))
print(num)
for i in range(num):
    if i%2==0:
        print(f"{i} : even number")
    elif i==0:
        print(f"{i} : Zero number")
    else:
        print(f"{i} : odd number")

enter the number: 4

4
0 : even number
1 : odd number
2 : even number
3 : odd number

4

In [28]:
[f"{i} : even number"  if i%2==0  else f"{i} : Zero number" if i==0 else f"{i} : odd number" for i in range(num) ]

['0 : even number', '1 : odd number', '2 : even number', '3 : odd number']

In [2]:
# list of student marks in python , marks = [45, 76, 89, 53, 67, 90 ,82,49,33,99], slove all below problems by using list comprehension topic.
ls= [45, 76, 89, 53, 67, 90 ,82,49,33,99]
l1= [i for i in ls if i>=50]
l1

[76, 89, 53, 67, 90, 82, 99]

In [ ]:
#[<if output> <if condition> else <elif output> <elif condition> else <else output> <for loop>]

In [22]:
l2=[f"{i}:A" if i>=85 else f'{i}:B' if 70<=i<=84 else f'{i}:C' if 50<=i<=69 else f'{i}:F' for i in ls]
l2

['45:F',
 '76:B',
 '89:A',
 '53:C',
 '67:C',
 '90:A',
 '82:B',
 '49:F',
 '33:F',
 '99:A']

In [24]:
marks= [45, 76, 89, 53, 67, 90 ,82,49,33,99]

In [26]:
[f"marks = {i} : A grade." if i >=85
else f"marks = {i} : B grade." if i>=70
else f"marks = {i} : C grade." if i>=50
else f"marks = {i} : F grade."
 for i in marks]

['marks = 45 : F grade.',
 'marks = 76 : B grade.',
 'marks = 89 : A grade.',
 'marks = 53 : C grade.',
 'marks = 67 : C grade.',
 'marks = 90 : A grade.',
 'marks = 82 : B grade.',
 'marks = 49 : F grade.',
 'marks = 33 : F grade.',
 'marks = 99 : A grade.']

In [11]:
l3=[i+5 for i in ls if i<=50]
l3

[50, 54, 38]

In [17]:
l4=sorted([i for i in ls ],reverse=False)
l4[:3]

[33, 45, 49]

In [18]:
l4=sorted([i for i in ls ],reverse=True)
l4[:3]

[99, 90, 89]

In [29]:
ls= [45, 76, 89, 53, 67, 90 ,82,49,33,99]
max_val=max(marks)
for i in range(3):
    max_val=max(marks)
    print(max_val)
    marks.remove(max_val)
   # print(max_val)

82
76
67

In [21]:
summ=0
l5=[summ:=summ+i for i in ls]
print(summ)
print('Avg:', summ/len(ls))

683
Avg: 68.3

**distance between two points**

In [ ]:
l1=[[1,2]],[[4,5]],[[7,9]]
l2=[10,20]

# find the distance between l2 with all other point from l1
# which is the maximum distance give me that

l1=[10,20]
l2=[30,40]
###########################
d1=l2[0]-l1[0]
d1_square=ma
d2=l2[1]-l2[1]
#########################

In [38]:
import math
l1=[10,20]
l2=[30,40]

In [39]:
math.sqrt(math.pow(l2[0]-l1[0] ,2)+math.pow(l2[1]-l1[1],2))

28.284271247461902

In [ ]:
[10,20,30,35,120,500,490,320,240,120]
# how to sort the list
# how to find the maximum value of the list
# how to find the minimum value of the list