In [2]:
names=['Ramesh','suresh','sathish']
age=[20,25,30]
# Ramesh age is 20
# suresh age is 25
for i in range(len(names)):
    print(f"{names[i]} age is {age[i]}")

Ramesh age is 20
suresh age is 25
sathish age is 30

## Zip

In [3]:
names=['Ramesh','suresh','sathish']
age=[20,25,30]
for i in zip(names,age):
    print(i)

('Ramesh', 20)
('suresh', 25)
('sathish', 30)

In [3]:
names=['Ramesh','suresh','sathish']
age=[20,25,30]
address=['delhi', 'kanpur','nagpur']
for i,j,k in zip(names,age,address):
    print(i,j,k)
    print(f"{i} age is {j} address in {k}")

Ramesh 20 delhi
Ramesh age is 20 address in delhi
suresh 25 kanpur
suresh age is 25 address in kanpur
sathish 30 nagpur
sathish age is 30 address in nagpur

In [6]:
names=['Ramesh','suresh','sathish']
age=[20,25,30]
print(names,age)

['Ramesh', 'suresh', 'sathish'] [20, 25, 30]

**dictionary**

- in above example names and age both are together 
- when both are together we can pair them 
- this can happen using dictionary
- dictionary is calles as **key-value** pair
- it represents with curly braces : **{key:value}**
- ramesh and 20 years both are pair: {'ramesh':20}

In [5]:
d1={'Ramesh':20 ,'suresh':25, 'sathsh':30}
d1

{'Ramesh': 20, 'suresh': 25, 'sathsh': 30}

In [7]:
d2={20:'ramesh',25:'suresh',30:'sathish'}
d2

{20: 'ramesh', 25: 'suresh', 30: 'sathish'}

In [ ]:
# start your imaginzation make a dictionary with many ways

In [10]:
d5={'ramesh': 20, 'ramesh':30}
d5
# lested value  are printed
# dictionary kind database

{'ramesh': 30}

In [2]:
# dictionary kind database
d5={'ramesh': 20, 'ramesh':20}
d5

{'ramesh': 20}

In [13]:
# dictionary doesnot allow duplicates
d6={'suresh': 20, 'ramesh':20}
d6

{'suresh': 20, 'ramesh': 20}

In [15]:
# key can not duplicates but value can be  duplicates 

d7={'suresh': 20, 'ramesh':20}
d7

{'suresh': 20, 'ramesh': 20}

In [4]:
d8={20:'ramesh',20:'suresh'}
d8

{20: 'suresh'}

In [17]:
d9= {True :'true'}
d9

{True: 'true'}

In [18]:
d10={'fruites': ['Apple','banana']}
d10

{'fruites': ['Apple', 'banana']}

**list as key fails becuse list has a mutable behavivour**

**tuple as keys works becuse tuple has immutable behaviour**
    
**in dictionary keys are very very important**
    
**keys does not  change so when we apply list is failin**

In [2]:
d14={'fruites': {'apple':20}}
d14

{'fruites': {'apple': 20}}

In [3]:
d15={{'apple':20} :'fruites'}
d15

TypeError: unhashable type: 'dict'

In [8]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
dict2={'Apple':20,'apple':30}
dict3={20:'Apple',30:'Banana',50:'Cherry'}

# apply min max sum sorted reversed

In [9]:
print(max(dict1))
print(min(dict1))

Cherry
Apple

In [13]:
print(sum(dict1))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [16]:
print(sorted(dict1))

['Apple', 'Banana', 'Cherry']

In [21]:
list(reversed(dict1))

['Cherry', 'Banana', 'Apple']

In [10]:
print(max(dict2))
print(min(dict2))

apple
Apple

In [14]:
print(sum(dict2))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [17]:
print(sorted(dict2))

['Apple', 'apple']

In [22]:
list(reversed(dict2))

['apple', 'Apple']

In [11]:
print(max(dict3))
print(min(dict3))

50
20

In [15]:
print(sum(dict3))

100

In [18]:
print(sorted(dict3))

[20, 30, 50]

In [23]:
list(reversed(dict3))

[50, 30, 20]

In [24]:
'Apple' in dict1

True

In [25]:
20 in dict1

False

In [26]:
'Apple':20 in dict1

SyntaxError: illegal target for annotation (1635405859.py, line 1)

In [27]:
for i in dict1:
    print(i)

Apple
Banana
Cherry

In [30]:
for i in range(len(dict1)):
    print(i)

0
1
2

**index**

In [31]:
l1=[10,20,30]
l1[0]

10

In [32]:
str1='python'
str1[0]

'p'

In [33]:
dict1={'Apple':20,'Banana':30,'Chery':40}
dict1[0]

KeyError: 0

**key error**

In [34]:
dict1={'Apple':20,'Banana':30,'Chery':40}
dict1[1]

KeyError: 1

**how to extract the values**
- in dictionary we have a concept key : value pair
- key are very important
- in order to get the values we need to take key helps

In [38]:
dict1={'Apple':20,'Banana':30,'Chery':40}
dict1['Apple']

20

In [37]:
dict1={'Apple':20,'Banana':30,'Chery':40}
dict1['Banana']

30

In [39]:
dict1={'Apple':20,'Banana':30,'Chery':40}
dict1['Chery']

40

In [41]:
for i in dict1:
    print(i,dict1[i])

Apple 20
Banana 30
Chery 40

In [48]:
# names=['Ramesh','suresh','sathish']
# age=[20,25,30]

names={'Ramesh':20,'suresh':30,'sathish':40}

for i in names:
    print(f"{i} is age {names[i]}")

Ramesh is age 20
suresh is age 30
sathish is age 40

In [50]:
names={'Ramesh':20,'suresh':30,'sathish':40}
for key in names:
    value=names[key]
    print(f"{key} age is {value}")

Ramesh age is 20
suresh age is 30
sathish age is 40

In [55]:
d={'Fruites':['Apple','Banana','Cherry']}
# get Chery
d['Fruites']
d['Fruites'][2]

'Cherry'

In [60]:
d={'Fruites':{'Apple':['sweet','sour','green']}}
d['Fruites']['Apple'][2]

'green'

In [68]:
d={'Fruites':{'Apple':['sweet','sour','green']}}
len(d['Fruites'])
len(d['Fruites']['Apple'])
d['Fruites']['Apple'][2]

'green'

In [71]:
d={'fruites':[{'cost':[50]}]}
d['fruites'][0]['cost'][0]

50

In [78]:
d={'fruites':[{'cost':[50]}]}
d['fruites']  # list 
d['fruites'][0] # dict
d['fruites'][0]['cost'] # list
d['fruites'][0]['cost'][0]

50

In [84]:
d={'fruites':['Apple'],'Cost':[{'1kg':[20,30,40],'2kg':None}]}
d['Cost'][0]['1kg'][2]

40

In [88]:
d['Cost'][0]['2kg']

In [94]:
d={'fruites':['Apple'],'Cost':[{'1kg':[20,30,40],'2kg':None}]}
len(d)
len(d['Cost'])
d['Cost'][0]['1kg'][2]

40

In [95]:
d={'fruites':{'orange':{'nagpur':{'MH':{'king':{'shivaji':{'shambaji'}}}}}}}
d

{'fruites': {'orange': {'nagpur': {'MH': {'king': {'shivaji': {'shambaji'}}}}}}}

In [96]:
len(d)

1

In [110]:
d['fruites']['orange']['nagpur']['MH']['king']['shivaji']

{'shambaji'}

**how to create an empty dictionary**
- now onwords foces on creation of empty list, string , and dictionary
- we will take empty list will use append operation
- we will take empty string will use conactenation
- we will take empty dictionar will use key: value pair concept

In [112]:
# list
l=[]
l.append(10)
l.append(20)
l

[10, 20]

In [113]:
# strings
s=''
s=s+'p'
s=s+'y'
s

'py'

In [116]:
# dictionary
d={}
d['Ramesh']=30
d['Suresh']=25
d['Sathish']=30
d

# d[key]=value
# d[i]=j

{'Ramesh': 30, 'Suresh': 25, 'Sathish': 30}

In [115]:
d={}
d['Suresh']=30
d

{'Suresh': 30}

**How to convert list to dictionary**

In [122]:
names=['Ramesh', 'Suresh', 'Sathish']    # i
age=[20,25,30] # j
dict1={}
for i,j in zip(names,age):
    dict1[i]=j
dict1

{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}

**dictionary comprehension**

- for list comprehension we written everything inside list
- for dict comprehension we should write everything inside dictionary

In [ ]:
# list comprehension : [<output> <forloop>]
# dict comprehension : {key: value <forloop>}

In [126]:
dict1={i:j for i,j in zip(names,age)}
dict1

{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}

**mutable - inmutable**

- list are mutable
- dict are also mutable
- string immutable
- tuple immutable
- in dictionary we can change the value using keys
- in dict we can change the value using keys

In [130]:
d={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
d['Ramesh']=35
d

{'Ramesh': 35, 'Suresh': 25, 'Sathish': 30}

In [131]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

- clear
- copy
- keys
- values
- items

In [1]:
# clear
d={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
d.clear()
print(d)

{}

In [7]:
# copy
d1={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
d2=d1.copy()
d2

{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}

In [8]:
# keys
d1={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
for i in d1:
    print(i)

Ramesh
Suresh
Sathish

In [9]:
# values
d1={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
for i in d1:
    print(d1[i])

20
25
30

In [10]:
# items
d1.items()

dict_items([('Ramesh', 20), ('Suresh', 25), ('Sathish', 30)])

In [2]:
keys=d1.keys()

NameError: name 'd1' is not defined

In [1]:
type(keys)

NameError: name 'keys' is not defined

In [12]:
d1.values()

dict_values([20, 25, 30])

In [13]:
d1.clear()

In [14]:
d1.copy()

{}

In [ ]:
d={Ramesh':20, 'Suresh}

In [ ]:
# i got mistaken im assuming this is list type
keys.count('Ramesh')

**Convert dictionary to list**
- in order to convert dictionary to list
- first we need to seperate keys and values
- then apply list type casting

In [4]:
d={'ramesh':20, 'suresh':30, 'sathish':40}
keys=d.keys()
keys_list=list(keys)
keys_list

['ramesh', 'suresh', 'sathish']

In [5]:
d={'ramesh':20, 'suresh':30, 'sathish':40}
values=d.values()
values_list=list(values)
values_list

[20, 30, 40]

In [6]:
d={'ramesh':20, 'suresh':30, 'sathish':40}
items=d.items()
items_list=list(items)
items_list

[('ramesh', 20), ('suresh', 30), ('sathish', 40)]

In [7]:
type(keys_list),type(keys)

(list, dict_keys)

In [11]:
keys_list.count('ramesh')

1

In [ ]:
list === string using join
string === list using split
list === dict  using zip
dict === list   using typecasting

In [22]:
# input = 'virt.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'
# output= {firstname': ['virat','rohit','ms'],
#          'secondname':['kohli','sharma','dhoni']
#            'companyname':['rcb','mi','csk']

input='virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'

l1=input.split(';')
fname,sname,cname=[],[],[]
d={}
for i in l1:
    first_dot=i.index('.')
    second_dot=i.index('.',first_dot+1)
    at_the_rate=i.index('@')
    
    fname.append(i[:first_dot])
    sname.append(i[first_dot+1:at_the_rate])
    cname.append(i[at_the_rate+1:second_dot])


d['Fname']= fname
d['Sname']= sname
d['Cname']=cname
d

{'Fname': ['virat', 'rohit', 'ms'],
 'Sname': ['kohli', 'sharma', 'dhoni'],
 'Cname': ['rcb', 'mi', 'csk']}

**pop popitem**

In [27]:
# pop 
d={'ramesh':20, 'suresh':30, 'sathish':40}
d.pop('ramesh')

20

In [30]:
# popitem
d={'ramesh':20, 'suresh':30, 'sathish':40}
d.popitem()

('sathish', 40)

In [32]:
l1=['ramesh','suresh','sathish']
l1.remove('ramesh')
l1

['suresh', 'sathish']

- **pop** i dict , similar analogy **remove** in list

- **pop item** in dict , similar analogy **pop** in list

**get**

In [40]:
d={'ramesh':20, 'suresh':30, 'sathish':40}        # key as a index
d.get('suresh')

30

**update**

- update is similar analogy list extend
- take two dict and apply update method

In [45]:
d1={'ramesh':20, 'suresh':30, 'sathish':40}
d2={'pratik':50, 'nilesh':60, 'Abhay':70}
d1.update(d2)
d1

{'ramesh': 20,
 'suresh': 30,
 'sathish': 40,
 'pratik': 50,
 'nilesh': 60,
 'Abhay': 70}

In [49]:
l1=[1,2,3,4]
l2=[5,6,7,8]
l1.extend(l2)
l1

[1, 2, 3, 4, 5, 6, 7, 8]

- update in dict , similar analogy **list extend**

**setdefailt**

- suppose an already existed dictionary available
- we can update the dict with new key:value pair

In [57]:
d1={'ramesh':20, 'suresh':30, 'sathish':40}
d1.setdefault('manish')
d1.setdefault('mahesh',39)
d1

{'ramesh': 20, 'suresh': 30, 'sathish': 40, 'manish': None, 'mahesh': 39}

- **setdefault** in dict , similar analogy **list append**
- always rember dictionary is a key:value pair concept
- it never involves index operation
- thats why we dont have any index or find methods
- we have get method to extract values using key

**fromkeys**

- create a dict with different keys but same value
- fromkeys will take an argumenet **iterable**
- try to provide an iterator i.e string , list, tuple

In [58]:
d={}
d1=['ramesh','suresh', 'sathish']
d.fromkeys(d1,'nareshit')

{'ramesh': 'nareshit', 'suresh': 'nareshit', 'sathish': 'nareshit'}

In [60]:
d={}
d.fromkeys('python',20)

{'p': 20, 'y': 20, 't': 20, 'h': 20, 'o': 20, 'n': 20}

In [61]:
d={}
d.fromkeys('python')

{'p': None, 'y': None, 't': None, 'h': None, 'o': None, 'n': None}

In [62]:
d={}
d.fromkeys('python','abhay')

{'p': 'abhay',
 'y': 'abhay',
 't': 'abhay',
 'h': 'abhay',
 'o': 'abhay',
 'n': 'abhay'}

In [ ]:
- list has count , string has count and tuple also has count
    - but dict does not have **count**
    - becuse dict does not allow **duplicates**
- string has find but list does not have

In [ ]:
# take the word document 
#basic python code
#