## While loop

- intialization 

- increment or decrement

- condition to stop

In [ ]:
for i in range(1,10)
in a single line we have start=1 increment+1 stop 10-1=9

In [ ]:
<intialzation>

while <condition>:
    #======================python

    increment/decrement

In [2]:
for i in range(1,10):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9

In [7]:
#for i in range(1,10) ==================3 lines

i=1
while i<10:
    print(i,end=" ")
    i=i+1

#tell me the condition that become True

1 2 3 4 5 6 7 8 9

In [ ]:
# step-1: i=1 while 1<3 true print(1) i=1+1=2
# step-2: i=2 while 2<3 true print(2)i=2+1=3
# step-3: i=3 while 3<3 false

In [13]:
#Q1 print 1 to 10
#q2 print 10 to 1
#q3 print -1 to -10
#Q4 print -10 to -1

i=-1
while i>=-10:
    print(i,end=" ")
    i=i-1

-1 -2 -3 -4 -5 -6 -7 -8 -9 -10

In [22]:
i=10
while i>=1:
    print(i,end=" ")
    i=i-1

10 9 8 7 6 5 4 3 2 1

In [20]:
i=-10
while i<=-1:
    print(i,end=" ")
    i=i+1

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1

In [25]:
i=1
while i<=10:
    print(i,end=" ")
    i=i+1

1 2 3 4 5 6 7 8 9 10

In [2]:
import random
i=1
while i<=3:
    print(i,end=" ")
    i=i+1

1 2 3

In [18]:
# table 2 
i=1
n=23
while i<=10:
    print(i,"*",n,"=",i*n)
    i=i+1

1 * 23 = 23
2 * 23 = 46
3 * 23 = 69
4 * 23 = 92
5 * 23 = 115
6 * 23 = 138
7 * 23 = 161
8 * 23 = 184
9 * 23 = 207
10 * 23 = 230

In [1]:
l1=[1,2,3,4,5,6,7,8,9]

In [2]:
i=0
while i<len(l1):
    l1[i]=l1[i]+100
    i+=1

In [4]:
l1

[101, 102, 103, 104, 105, 106, 107, 108, 109]

In [42]:
i=1
n=3
while i<=10:
    print(i,"*",n,"=",i*n)
    i+=1

1 * 3 = 3
2 * 3 = 6
3 * 3 = 9
4 * 3 = 12
5 * 3 = 15
6 * 3 = 18
7 * 3 = 21
8 * 3 = 24
9 * 3 = 27
10 * 3 = 30

In [2]:
i=0
while i<101:
    print(i,end=" ")
    i+=1

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [4]:
i=0
n=21
while i<n:
    print(i,end=" ")
    i+=1

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [15]:
i=2
n=9
while i<=6:
    print(f"{i}*{n} : {i*n}")
    i+=1

2*9 : 18
3*9 : 27
4*9 : 36
5*9 : 45
6*9 : 54

In [41]:
num=eval(input("enter the number:"))
i=0
while i<=num:
    print(f"the number squr {i} is : {i*i}")
    i+=1

enter the number: 25

the number squr 0 is : 0
the number squr 1 is : 1
the number squr 2 is : 4
the number squr 3 is : 9
the number squr 4 is : 16
the number squr 5 is : 25
the number squr 6 is : 36
the number squr 7 is : 49
the number squr 8 is : 64
the number squr 9 is : 81
the number squr 10 is : 100
the number squr 11 is : 121
the number squr 12 is : 144
the number squr 13 is : 169
the number squr 14 is : 196
the number squr 15 is : 225
the number squr 16 is : 256
the number squr 17 is : 289
the number squr 18 is : 324
the number squr 19 is : 361
the number squr 20 is : 400
the number squr 21 is : 441
the number squr 22 is : 484
the number squr 23 is : 529
the number squr 24 is : 576
the number squr 25 is : 625

In [2]:
#Q-5 find thenumber of  divisors of 75
# if you divide 75 with any number the reminder should be zero
#75%1==0    #T
#75%2==0      #F
#75%3==0          #T
#75%15==0           # T
#75%25==0   #T
#75%75==0   #T


num=eval(input("enter the number:"))
i=1
count=0
while i<=num:
    if num%i==0:
        print(f"the number are divided {i}:{num}")
        count+=1
    i+=1

enter the number: 45

the number are divided 1:45
the number are divided 3:45
the number are divided 5:45
the number are divided 9:45
the number are divided 15:45
the number are divided 45:45