**Loops**
- loops are used to itearte the code multiple times 
- function are used to reuse the code block
- that code block can be repeated multiple times
- whenever you are doing same task multiple times then think about loop
- we have two loops
  - for loop
  - while loop
- any loop we need three things
   - Intialization(start loop)
   - Increment or Decrement
   - condition stop

**For loop**

In [ ]:
for <variable> in range (<number>):
    <write your code here>

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
print(0)
print(1)
print(2)

0
1
2

In [8]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
for i in range(9):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8

In [13]:
for i in range(4):
    print(i,end=" ")

0 1 2 3

In [ ]:
**Case-1: range(stop)**
- (start value always Zero)  start=0 : python index always starts with zero
- increment by 1
- last=stop-1

In [15]:
for i in range(100):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [16]:
for i in range(3):
    print("Good night")

Good night
Good night
Good night

**Case-2: range(start,stop)**
- suppose i want to start my loop with a particular number
- then add start also inside range
- start=start
- increment by 1
- last=stop-1
- 
range(10,20)
- start=10,increment by 1 , last=20-1=19

In [17]:
for i in range(10,20):
    print(i , end=" ")

10 11 12 13 14 15 16 17 18 19

In [19]:
#wap ask the user print the square first 5 number
#square of 1 is 1
#square of 2 is 4
#square of 3 is 9
#square of 4 is 16
#square of 5 is 25

for i in range(1,6):
    print(f" the square of {i} is :{i*i}")

 the square of 1 is :1
 the square of 2 is :4
 the square of 3 is :9
 the square of 4 is :16
 the square of 5 is :25

In [22]:
for i in range(5):
    num=eval(input("enter the number:"))
    #print(num*num)
    print(f" the square of {num} is : {num*num}")

enter the number: 4

16
 the square of 4 is : 16

enter the number: 5

25
 the square of 5 is : 25

enter the number: 6

36
 the square of 6 is : 36

enter the number: 2

4
 the square of 2 is : 4

enter the number: 3

9
 the square of 3 is : 9

In [25]:
def square():
    num=eval(input("enter the number:"))
    print(f"the square of {num} is: {num*num}")

for i in range (5):
    square()

enter the number: 5

the square of 5 is: 25

enter the number: 8

the square of 8 is: 64

enter the number: 4

the square of 4 is: 16

enter the number: 8

the square of 8 is: 64

enter the number: 6

the square of 6 is: 36

In [26]:
for i in range (5):
    square()

enter the number: 5

the square of 5 is: 25

enter the number: 4

the square of 4 is: 16

enter the number: 6

the square of 6 is: 36

enter the number: 3

the square of 3 is: 9

enter the number: 9

the square of 9 is: 81

**Case-3 : range(start,stop,step)**

- start=start only
 - step:
  - look about step sign is it postive or negative sign
     - postive means increment
       - last: stop-1
     - negative means decrement
       - last: stop+1

In [27]:
#example1: range(3,20,2)
#start=3
#step=+2 postive direction
#last=19-1=18
#3,5,7,9,11,13,15,17

for i in range(3,19,2):
    print(i,end=" ")

3 5 7 9 11 13 15 17

In [32]:
#example1: range(3,19,-2)
#start=3
#step=-2 negative direction
#last=19+1=20

for i in range(3,19,-2):
    print(i)

In [36]:
for i in range(3,-19,-2):
    print(i)

3
1
-1
-3
-5
-7
-9
-11
-13
-15
-17

In [8]:
for i in range(-35,-25,2):
    print(i)

-35
-33
-31
-29
-27

In [9]:
for i in range(25,55,5):
    print(i)

25
30
35
40
45
50

In [27]:
for i in range(25,-55,-5):
    print(i)

25
20
15
10
5
0
-5
-10
-15
-20
-25
-30
-35
-40
-45
-50

In [25]:
# for i in range(25,35,2):
#     print(i)                         # pass
# for i in range(-25,35,2):     
#     print(i)                          # pass
# for i in range(25,-35,2):
#     print(i)                       # Fail

# for i in range(25,35,-2):
#     print(i)                       #Fail

# for i in range(-25,-35,2):
#     print(i)                         # fail

# for i in range(25,-35,-2):
#     print(i)                           # pass

# for i in range(-25,35,-2):
#     print(i)                         #fail

# for i in range(-25,-35,-2):
#     print(i)                        #pass

In [34]:
for i in range(4):
    num=eval(input("enter the number:"))
    print(f" the square {num} is : {num*num}")

enter the number: 4

 the square 4 is : 16

enter the number: 3

 the square 3 is : 9

enter the number: 6

 the square 6 is : 36

enter the number: 5

 the square 5 is : 25

In [2]:
for i in range(5):
    num=eval(input("enter the number:"))
    print(f" the square of  {num} is : {num*num}")

enter the number: 4

 the square of  4 is : 16

enter the number: 5

 the square of  5 is : 25

enter the number: 2

 the square of  2 is : 4

enter the number: 3

 the square of  3 is : 9

enter the number: 6

 the square of  6 is : 36

In [1]:
num=eval(input("enter the number:"))
for i in range(5):
    if i%2:
        print(f" the square of  {num} is : {num*num}")

enter the number: 5

 the square of  5 is : 25
 the square of  5 is : 25

In [1]:
for i in range(20,-20,-10):
    print(i)

20
10
0
-10

In [8]:
#Q4 print the 7 table
#7*1=7
#7*10=70

for i in range(1,11):
    print(f"7*{i} is {7*i}")
    #print(f"{7}*{i}={7*i}")

7*1 is 7
7*2 is 14
7*3 is 21
7*4 is 28
7*5 is 35
7*6 is 42
7*7 is 49
7*8 is 56
7*9 is 63
7*10 is 70

In [6]:
#Q4 print the 7 table
#7*1=7
#7*10=70
num=eval(input("enter the table number:"))
for i in range(1,11):
    print(num*i)

enter the table number: 4

4
8
12
16
20
24
28
32
36
40

In [19]:
#Q-5 find thenumber of  divisors of 75
# if you divide 75 with any number the reminder should be zero
#75%1==0    #T
#75%2==0      #F
#75%3==0          #T
#75%15==0           # T
#75%25==0   #T
#75%75==0   #T

num=eval(input("enter the number:"))
for i in range(1,num+1):
    if num%i==0:
         print(i,end=" ")
        #print(f"{i} is : {num}")

enter the number: 75

1 3 5 15 25 75

**Summation wrapper**

  - starting we intialise the sum value: summ=0
  - inside loop we will add a simple line: summ=summ+i
  - summ=0
  - for loop 
   - summ=summ+i

In [20]:
#Q-6 sum of first 10 natural numbers
#natural:  starts from 1
#1+2+3+4+5+6+7+8+9+10=55
#n(n+1)/2

n=10
n*(n+1)/2

55.0

In [23]:
summ=0
for i in range(1,11):
    summ=summ+i
    print(summ)

1
3
6
10
15
21
28
36
45
55

In [24]:
summ=0
for i in range(1,11):
    summ=summ+i
print(summ)

55

In [25]:
for val in range(4):
    print(val)

0
1
2
3

In [26]:
val

3

In [31]:
#Q7 find the summ of divisors  of 75
# 75 : 1,3,5,15,25,75
summ=0
num=eval(input("enter the divisors of number:"))
for i in range(1,num+1):
    if num%i==0:
        summ=summ+i
print(summ)

enter the divisors of number: 75

124

**Count wrapper**
- counter means counting the success ones
- count=0
- for loop 
  - count=count+1

In [32]:
#Q8 find the number of divisors of 75
count=0
num=eval(input("enter the number:"))
for i in range(1,num+1):
    if num%i==0:
        count=count+1

print(count)

enter the number: 75

6

In [35]:
#Q8 ask the user get 5 random numbers
# means you need a get a random number inside for loop
# the loop should run 5 times
# now perform the even and odd operation
#1) even count . @2) sum of even number 
#3) odd count  . @4) even of odd number

from random import randint as rt
even_count=0
even_sum=0
odd_count=0
odd_sum=0

for i in range(5):
    num=rt(1,100)
    if num%2==0:
        print(f"{num} is an even")
        even_count=even_count+1
        even_sum=even_sum+num
    else:
        print(f"{num} is an odd")
        odd_count=odd_count+1
        odd_sum=odd_sum+num

print("number are even:",even_count)
print("number are even:",even_sum)
print("number are odd:",odd_count)
print("number are odd:",odd_sum)

26 is an even
5 is an odd
98 is an even
2 is an even
72 is an even
number are even: 4
number are even: 198
number are odd: 1
number are odd: 5

In [38]:
#Q9 Game program
# user enter one num
# another number will generate randomly
# if both number are equal then you won
# otherwise you lost
# i want to give 3 chances
from random import randint as rt
for i in range(3):
    num1=eval(input("enter the number:"))
    num2=rt(1,10)
    #print(n2)
    if num1==num2:
        print("won")
        break
    else:
        print("lost: try again")

enter the number: 4

lost: try again

enter the number: 8

lost: try again

enter the number: 6

won

In [ ]:
# case-1: we apply the break===completed
# case-2:nwhenever the user enter the wronh ans

**in**

- in for loop we have range and in operators 
- range is math related word , whenever we use range it expects a number inside range
- in operator expects a string

for i in range

In [1]:
for i in range(10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [2]:
for i in range('python'):
    print(i,end=" ")

TypeError: 'str' object cannot be interpreted as an integer

In [3]:
for i in "python":
    print(i,end=" ")

p y t h o n

In [4]:
'p' in 'python'

True

In [5]:
'y' in 'python'

True

In [6]:
't' in 'python'

True

In [7]:
'h' in 'python'

True

In [8]:
'o'  in 'python'

True

In [9]:
'n' in 'python'

True

## ASCII

   - AMERICAN STANDARD CODE FOR INFORMATION INTERCHANGE

In [11]:
#'A'===65
#'a'===97
'A'>'a'

False

- How to convert char to number
- How to convert number to char

**Char-ord**

In [12]:
ord('A')

65

In [13]:
chr(65)

'A'

In [14]:
ord('a')

97

In [15]:
chr(97)

'a'

In [16]:
ord('b')

98

- so **ord** converting char to number
- **chr** converting number to char

In [27]:
#wap ask the user get the ASCII number from A to Z
#print: A:65
#       B:66

for i in ("ABCDEFGHIJKLMNOPQRSTUVWXYZ"):
    print(ord(i),end="  ")

65  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90

In [ ]:
for i in range(65,91):
    print(

**package: string**

In [ ]:
import <packagename>
dir(<packagename>)
in that A to Z will be given by one method tell me that

In [30]:
import string
dir(string)

['Formatter',
 'Template',
 '_ChainMap',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_re',
 '_sentinel_dict',
 '_string',
 'ascii_letters',
 'ascii_lowercase',
 'ascii_uppercase',
 'capwords',
 'digits',
 'hexdigits',
 'octdigits',
 'printable',
 'punctuation',
 'whitespace']

In [32]:
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [33]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [34]:
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [35]:
string.digits

'0123456789'

In [37]:
for i in "ABCDEFGHIJKLMNOPQRSTUVWXYZ":
    print(f'{i}: {ord(i)}')

A: 65
B: 66
C: 67
D: 68
E: 69
F: 70
G: 71
H: 72
I: 73
J: 74
K: 75
L: 76
M: 77
N: 78
O: 79
P: 80
Q: 81
R: 82
S: 83
T: 84
U: 85
V: 86
W: 87
X: 88
Y: 89
Z: 90

In [38]:
for i in string.ascii_lowercase:
    print(f'{i}: {ord(i)}',end=' ')

a: 97 b: 98 c: 99 d: 100 e: 101 f: 102 g: 103 h: 104 i: 105 j: 106 k: 107 l: 108 m: 109 n: 110 o: 111 p: 112 q: 113 r: 114 s: 115 t: 116 u: 117 v: 118 w: 119 x: 120 y: 121 z: 122

In [39]:
for i in string.ascii_uppercase:
    print(f'{i}: {ord(i)}',end=' ')

A: 65 B: 66 C: 67 D: 68 E: 69 F: 70 G: 71 H: 72 I: 73 J: 74 K: 75 L: 76 M: 77 N: 78 O: 79 P: 80 Q: 81 R: 82 S: 83 T: 84 U: 85 V: 86 W: 87 X: 88 Y: 89 Z: 90

In [40]:
for i in string.punctuation:
    print(f'{i}: {ord(i)}',end=' ')

!: 33 ": 34 #: 35 $: 36 %: 37 &: 38 ': 39 (: 40 ): 41 *: 42 +: 43 ,: 44 -: 45 .: 46 /: 47 :: 58 ;: 59 <: 60 =: 61 >: 62 ?: 63 @: 64 [: 91 \: 92 ]: 93 ^: 94 _: 95 `: 96 {: 123 |: 124 }: 125 ~: 126

In [42]:
for i in range(33,126):
    print(f'{i}: {chr(i)}')

33: !
34: "
35: #
36: $
37: %
38: &
39: '
40: (
41: )
42: *
43: +
44: ,
45: -
46: .
47: /
48: 0
49: 1
50: 2
51: 3
52: 4
53: 5
54: 6
55: 7
56: 8
57: 9
58: :
59: ;
60: <
61: =
62: >
63: ?
64: @
65: A
66: B
67: C
68: D
69: E
70: F
71: G
72: H
73: I
74: J
75: K
76: L
77: M
78: N
79: O
80: P
81: Q
82: R
83: S
84: T
85: U
86: V
87: W
88: X
89: Y
90: Z
91: [
92: \
93: ]
94: ^
95: _
96: `
97: a
98: b
99: c
100: d
101: e
102: f
103: g
104: h
105: i
106: j
107: k
108: l
109: m
110: n
111: o
112: p
113: q
114: r
115: s
116: t
117: u
118: v
119: w
120: x
121: y
122: z
123: {
124: |
125: }

In [44]:
for i in range(1,33):
    print(f'{i}: {chr(i)}')

1: 
2: 
3: 
4: 
5: 
6: 
7: 
8:
9:
10:

11:
12:
13:
14: 
15: 
16: 
17: 
18: 
19: 
20: 
21: 
22: 
23: 
24: 
25: 
26: 
27: 
28:
29:
30:
31:
32:

In [45]:
for i in range(127,256):
    print(f'{i}: {chr(i)}')

127: 
128: 
129: 
130: 
131: 
132: 
133:
134: 
135: 
136: 
137: 
138: 
139: 
140: 
141: 
142: 
143: 
144: 
145: 
146: 
147: 
148: 
149: 
150: 
151: 
152: 
153: 
154: 
155: 
156: 
157: 
158: 
159: 
160:
161: ¡
162: ¢
163: £
164: ¤
165: ¥
166: ¦
167: §
168: ¨
169: ©
170: ª
171: «
172: ¬
173: ­
174: ®
175: ¯
176: °
177: ±
178: ²
179: ³
180: ´
181: µ
182: ¶
183: ·
184: ¸
185: ¹
186: º
187: »
188: ¼
189: ½
190: ¾
191: ¿
192: À
193: Á
194: Â
195: Ã
196: Ä
197: Å
198: Æ
199: Ç
200: È
201: É
202: Ê
203: Ë
204: Ì
205: Í
206: Î
207: Ï
208: Ð
209: Ñ
210: Ò
211: Ó
212: Ô
213: Õ
214: Ö
215: ×
216: Ø
217: Ù
218: Ú
219: Û
220: Ü
221: Ý
222: Þ
223: ß
224: à
225: á
226: â
227: ã
228: ä
229: å
230: æ
231: ç
232: è
233: é
234: ê
235: ë
236: ì
237: í
238: î
239: ï
240: ð
241: ñ
242: ò
243: ó
244: ô
245: õ
246: ö
247: ÷
248: ø
249: ù
250: ú
251: û
252: ü
253: ý
254: þ
255: ÿ

In [49]:
for i in range(2308,2362):
    print(f'{i}: {chr(i)}')

2308: ऄ
2309: अ
2310: आ
2311: इ
2312: ई
2313: उ
2314: ऊ
2315: ऋ
2316: ऌ
2317: ऍ
2318: ऎ
2319: ए
2320: ऐ
2321: ऑ
2322: ऒ
2323: ओ
2324: औ
2325: क
2326: ख
2327: ग
2328: घ
2329: ङ
2330: च
2331: छ
2332: ज
2333: झ
2334: ञ
2335: ट
2336: ठ
2337: ड
2338: ढ
2339: ण
2340: त
2341: थ
2342: द
2343: ध
2344: न
2345: ऩ
2346: प
2347: फ
2348: ब
2349: भ
2350: म
2351: य
2352: र
2353: ऱ
2354: ल
2355: ळ
2356: ऴ
2357: व
2358: श
2359: ष
2360: स
2361: ह