## Function
- operation and task
- block of code which executes on a call
- reduce redundency
- reuse of the code

## Function 
- reuse of the code block
- function also called as method
- function with out arguments
- function with arguments
- function with default arguments
- function with keyword arguments(kwargs)
- function with global and local variable
- function with return
- function in function

In [3]:
income=eval(input("enter the income:"))
tax=eval(input("enter the tax percentage:"))
tax_pay=income*tax/100
print(tax_pay)

enter the income: 4500
enter the tax percentage: 10

450.0

**Function with out argument**

In [ ]:
# syntax 
def <function name>():
    <write your lines here>

In [8]:
num1=100
num2=200
add=num1+num2
print(f"the addition the number {num1} and {num2} is :{add}")

the addition the number 100 and 200 is :300

In [9]:
def addition():
    num1=eval(input("enter a num1:"))
    num2=eval(input("enter a num2:"))
    add=num1+num2
    print(f"the addition the number {num1} and {num2} is :{add}")

**call the function**

In [10]:
addition()

enter a num1: 45200
enter a num2: 25360

the addition the number 45200 and 25360 is :70560

In [11]:
def addition():
    num1=eval(input("enter a num1:"))
    num2=eval(input("enter a num2:"))
    add=num1+num2
    print(f"the addition the number {num1} and {num2} is :{add}")

addition()

enter a num1: 452
enter a num2: 369

the addition the number 452 and 369 is :821

**Note**

- function name rule same as variable rule
   - no special charcters
   - no number before
   - no space between words etc
- Function name should not be any keywords
- Function name should not be any package names
- Function name should not be your notebook name
- Function name should not be any variable which is using inside that function

In [12]:
def addition():
    num1=eval(input("enter the num1 :"))
    num2=eval(input("enter the num2 :"))
    add=num1+num2
    print(f"addition the number {num1} and {num2} is :{add}")

addition()

enter the num1 : 45
enter the num2 : 36

addition the number 45 and 36 is :81

- while defind the function we does not know wheter the error is there or not
- for that we need to call the function

In [21]:
try:
    def addition2():
        n1=eval(input("enter the num1 :"))
        n2=eval(input("enter the num2 :"))
        add1=n11+n2
        print(f"addition the number {n1} and {n2} is :{add1}")
except Exception as e:
    print(e)
addition2()

enter the num1 : 45
enter the num2 : 36

NameError: name 'n11' is not defined

In [19]:
def addition3():
    try:
        n1=eval(input("enter the num1 :"))
        n2=eval(input("enter the num2 :"))
        add1=n11+n2
        print(f"addition the number {n1} and {n2} is :{add1}")
    except Exception as e:
        print(e)
addition3()

enter the num1 : 45
enter the num2 : 36

name 'n11' is not defined

- try-except should write inside the function

In [23]:
# 1)wap ask the user enter 3 numbers n1,n2,n3 from ketboard
# calculate average

def avg():
    num1=eval(input("enter the num1:"))
    num2=eval(input("enter the num2:"))
    num3=eval(input("enter the num3:"))
    avg=(num1+num2+num3)/3
    print(f"the number of avg {num1},{num2},{num3} is : {avg}")

avg()

enter the num1: 45
enter the num2: 36
enter the num3: 32

the number of avg 45,36,32 is : 37.666666666666664

In [26]:
# 2)wap ask the user enter name age city
# print my name is python im 10 years old and came from hyd

def information():
    name=input("enter the name:")
    age=eval(input("enter the num2:"))
    city=input("enter the name:")
    print(f"my name is {name} im {age} years old and come from {city}")
information()

enter the name: Abhay
enter the num2: 10
enter the name: hyd

my name is Abhay im 10 years old and come from hyd

In [27]:
# 3)wap ask the user to enter radidus of a circle calculate area of the circle
# var: radidus  var: pi=3.14
# formuale: pi*radius*radius
# print the answers using f string and format

def area():
    radius=eval(input("enter the radius:"))
    pi=3.14
    area=pi*radius*radius
    print(f"the area of the circle {radius} and {pi} is :{area}")

area()

enter the radius: 4

the area of the circle 4 and 3.14 is :50.24

In [30]:
# 4)wap ask the user enter breadth and height of a right angle triangle
# calculate the area
# var1: bredath  var2: height
# formuale : 0.5*breadth*heigh

def triangle():
    breadth=eval(input("enter the num1:"))
    height=eval(input("enter the num1:"))
    area=0.5*breadth*height
    print(f"a right angle triangle {breadth} and {height} is : {area}")

triangle()

enter the num1: 45
enter the num1: 36

a right angle triangle 45 and 36 is : 810.0

In [33]:
# 5)wap ask the user the bill amount and tip amount
#   calculate total bill
#   var1: bill amount var2: tip amount
#   formuale

def hotal():
    bill=eval(input("enter the bill:"))
    tip=eval(input("enter the tip:"))
    total=bill+tip
    print(f"the hotal bill {bill} and {tip} is {total}")

hotal()

enter the bill: 4500
enter the tip: 500

the hotal bill 4500 and 500 is 5000

In [4]:
#6)wap ask the user the bill amount and tip percentage
#    take tip percentage as 10
#   calculate total bill= bill amount+ bill amount*tip per/100
#   var1: bill amount var2: tip amount
#    formuale

def bill():
    bill=eval(input("enter the bill:"))
    tip=eval(input("enter the tip:"))
    total=bill+(bill*tip)/100
    print(f"the hotal bill {bill} and {tip} is {total}")
    
bill()

enter the bill: 4500
enter the tip: 10

the hotal bill 4500 and 10 is 4950.0

In [1]:
# 7)wap ask the length and breadth of a rectangle calcuate area
#   var1: length  var2: breadth
#   formulae: length * breadt
def area():
    breadth=eval(input("enter the num1:"))
    height=eval(input("enter the num1:"))
    area=0.5*breadth*height
    print(f"a right angle triangle {breadth} and {height} is : {area}")

area()

enter the num1: 45
enter the num1: 36

a right angle triangle 45 and 36 is : 810.0

- How many variable are there inside the function

  - in above **addition** function 3 variable are there : **n1,n2,add**

- How many input variable there 
   - input variable means the variable access the values from user as input **n1,n2**

- How many output variables are there
   - output variables means the variable created becuse of some opertions : **add**

- **Dont touch the output vairables**

In [5]:
def addition1(n1,n2):
    add=n1+n2
    print(f"the sum of {n1} and {n2} is : {add}")

In [7]:
addition1(100,200)

the sum of 100 and 200 is : 300

In [8]:
def addition1(n1,n2):
    print("n1 :",n1)
    print("n2 :",n2)
    add=n1+n2
    print(f"the sum of {n1} and {n2} is : {add}")

In [9]:
addition(100,200)

the sum of 100 and 200 is : 300

In [ ]:
def addition():
    n2=eval(input("enter the number1:"))
    n2=eval(input("enter the number2:"))
    add=n1+n2
    print(f"the sum number {n1} and {n2} is : {add} ")

def addition(n1,n2):
    add=n1+n2
    (print(f"the sum of {n1} and {n2} is : {add}")

In [19]:
def Avg():
    n1=eval(input("enter the number1:"))
    n2=eval(input("enter the number2:"))
    n3=eval(input("enter the number3"))
    avg=(n1+n2+n3)/3
    avg1=round(avg,2)
    print(f" the avg of {n1},{n2},{n3} is : {avg1}")
Avg()


def Avg2(n1):
    print("n1:",n1)
    n2=eval(input("enter the number2:"))
    n3=eval(input("enter the number3"))
    avg=(n2+n3)/2
    avg1=round(avg,2)
    print(f" the avg of {n1},{n2},{n3} is : {avg1}")
Avg2(100)

def avg3(n1,n2):
    print("n1:",n1)
    print("n2:",n2)
    n3=eval(input("enter the number3"))
    avg3=(n1+n2+n3)/3
    print(f" the avg of {n1},{n2},{n3} is : {avg3}")
avg3(100,200)

enter the number1: 45
enter the number2: 56
enter the number3 2

 the avg of 45,56,2 is : 34.33
n1: 100

enter the number2: 2
enter the number3 1

 the avg of 100,2,1 is : 1.5
n1: 100
n2: 200

enter the number3 2

 the avg of 100,200,2 is : 100.66666666666667

## Function with default arguments

In [5]:
def bill_amount():
    
    bill=eval(input('enter the bill:'))
    tip_per=eval(input('enter the tip_per'))
    tip_amount=bill*tip_per/100
    total_bill=bill+tip_amount
    print('total bill is:',total_bill)
bill_amount()

enter the bill: 4500
enter the tip_per 10

total bill is: 4950.0

In [6]:
def bill_amount1(bill,tip_per):
    tip_amount=bill*tip_per/100
    total_bill=bill+tip_amount
    print('total bill is:',total_bill)
bill_amount1(1000,10)

total bill is: 1100.0

In [7]:
def bill_amount1(bill,tip_per=20):
    tip_amount=bill*tip_per/100
    total_bill=bill+tip_amount
    print('total bill is:',total_bill)
bill_amount1(1000)

total bill is: 1200.0

- in above function the tip_per is fixed as 20
- this is called defult argument
- while calling the function no need to provide tip_per again
- if you provide again the value will be change

In [21]:
def avg(n1,n2,n3=30):
    avg1=(n1+n2+n3)/3
    print(f"the avg of {n1},{n2},{n3} is : {avg1}")

avg(25,23)

the avg of 25,23,30 is : 26.0

In [22]:
def avg(n1,n2=34,n3=30):
    avg1=(n1+n2+n3)/3
    print(f"the avg of {n1},{n2},{n3} is : {avg1}")

avg(25)

the avg of 25,34,30 is : 29.666666666666668

In [23]:
def avg(n1,n3,n2=30):
    avg1=(n1+n2+n3)/3
    print(f"the avg of {n1},{n2},{n3} is : {avg1}")

avg(25,23)

the avg of 25,30,23 is : 26.0

**Note: Default arguments always at last**

In [ ]:
n1,n2,n3=100   #W
n1,n2=100,n3   #F
n1=100,n2,n3   #F
n1,n2=100,n3=199  #W
n1=100,n2,n3=100  #F
n1=100,n2=100,n3  #F
n1=100,n2=100,n3=100  #W

- function with argument
- function with out argument
- function with defalut argument

In [25]:
print("Function with out arguments")
def tax_cal():
    salary=eval(input("enter the salary:"))
    tax_per=eval(input("enter the tax:"))
    tax_pay=salary*tax_per/100
    print("the total tax pay :",tax_pay)
tax_cal()

print("Function with arguments")
def tax_cal2(salary,tax_per):
    tax_pay=salary*tax_per/100
    print("the total tax pay :",tax_pay)
    
tax_cal2(45000,20)


print("Function with default arguments")
def tax_cal3(salary,tax_per=10):
    tax_pay=salary*tax_per/100
    print("the total tax pay :",tax_pay)
tax_cal3(45000)

Function with out arguments

enter the salary: 45000
enter the tax: 5

the total tax pay : 2250.0
Function with arguments
the total tax pay : 9000.0
Function with default arguments
the total tax pay : 4500.0

## Analogy with the packages

In [1]:
complex(3,4) #real=3 imag=4 3+4j

(3+4j)

In [2]:
complex(3) #real=3 imag=0 3+0j

(3+0j)

In [3]:
complex() #real=0 imag=0 0+0j = oj

0j

- Now onwards  whenever you see any package
- Always do shift+tab inside the brackets and abserve
- with or without or default

In [5]:
def add(a,b,c):
    print("a:",a)
    print("b:",b)
    print("c:",c)
    summ=a+b+c
    print(f"the summation of {a},{b} and {c} is : {summ}")

add(100,200,300)

a: 100
b: 200
c: 300
the summation of 100,200 and 300 is : 600

**Case-1**

In [6]:
def add(a,b,c=300):
    print("a:",a)
    print("b:",b)
    print("c:",c)
    summ=a+b+c
    print(f"the summation of {a},{b} and {c} is : {summ}")

add(100,200)

a: 100
b: 200
c: 300
the summation of 100,200 and 300 is : 600

**Case-2**

In [9]:
def add(a,b,c=400):
    print("a:",a)
    print("b:",b)
    print("c:",c)
    summ=a+b+c
    print(f"the summation of {a},{b} and {c} is : {summ}")

add(100,200,600)

a: 100
b: 200
c: 600
the summation of 100,200 and 600 is : 900

- In above case wen already provide defalut value c=400:
- but while we call the function c value become=600
- step-1: Define the function : while define what is the value 400
- step-2: call the function: while call the function what is the value 600
- step-3: running the function: while running what is the value :600

**Case-3**

In [10]:
def add(a,b,c=400):
    c=1000
    print("a:",a)
    print("b:",b)
    print("c:",c)
    summ=a+b+c
    print(f"the summation of {a},{b} and {c} is : {summ}")

add(100,200,100)

# while define c=400
# while calling c=600
# while running C=1000

a: 100
b: 200
c: 1000
the summation of 100,200 and 1000 is : 1300

In [12]:
def add(a,b,c):
    c=1000
    print("a:",a)
    print("b:",b)
    print("c:",c)
    summ=a+b+c
    print(f"the summation of {a},{b} and {c} is : {summ}")

add(100,200,600)

a: 100
b: 200
c: 1000
the summation of 100,200 and 1000 is : 1300

In [18]:
def add(a,b):
    print("a:",a)
    print("b:",b)
    print("c:",c)
    summ=a+b+c
    print(f"the summation of {a},{b} and {c} is : {summ}")
c=2000
add(100,200)

a: 100
b: 200
c: 2000
the summation of 100,200 and 2000 is : 2300

In [ ]:

def add(a,b):
    print("a:",a)
    print("b:",b)
    print("c:",c)
    summ=a+b+c
    print(f"the summation of {a},{b} and {c} is : {summ}")
c=2000
add(100,200)

**global variable vs local variable**
- the variables outside the function is called as **Globle variable**
-  Globle variables can use anywhere
- global variables can use inside the function also outside the function
- The variables inside the function is called as **Local variable**
- local variables can be use only inside functiuon
- local variables can not be use outside the function

In [19]:
def addition():
    n1=100 
    n2=200
    summ=n1+n2
    print(f"the summation of {n1} and {n2} is : {summ}")
addition()

the summation of 100 and 200 is : 300

In [20]:
n1=1000
n2=2000
def addition():
    summ=n1+n2
    print(f"the summation of {n1} and {n2} is : {summ}")
addition()

the summation of 1000 and 2000 is : 3000

In [21]:
n2

2000

In [22]:
n1

1000

In [24]:
addition()

the summation of 1000 and 2000 is : 3000

**how to convert local variable to global variable** 

- if we want to use summ variable outside the function 
- then intialise summ as **global** keyword

In [26]:
n1=1000
n2=2000
def addition():
    global summ
    summ=n1+n2
    print(f"the summation of {n1} and {n2} is : {summ}")
addition()

the summation of 1000 and 2000 is : 3000

In [28]:
summ

3000

In [29]:
s=0
def add1():
    global s1
    n1=100
    s1=s+n1
    print(s1)

add1()

100

**unbound local error**
- in below example s is not intialised
- we might think name error will come
- but inside function we will an **unbound local error**

In [27]:
s=0
def add1():
    n1=100
    s=s+n1
    print(s)

add1()

UnboundLocalError: cannot access local variable 's' where it is not associated with a value

In [29]:
def add():
    n1=100
    s1=summ1+n1
    print(s1)

add()

NameError: name 'summ1' is not defined

In [33]:
def add3():
    n1=100
    summ1=200
    summ1=summ1+n1  # do not 100=100+n1                   ,            #used summ1=100+n1
    print(summ1)
add3()

300

In [31]:
def avg(a,b,c):
    add=a+b+c
    avg1=(a+b+c)/3
    print(add,avg1)

avg(10,20,30)

60 20.0

In [32]:
add

In [41]:
def avg(a,b,c):
    global ADD
    global AVG1
    ADD=a+b+c
    AVG1=(a+b+c)/3
    print(ADD,AVG1)

avg(10,20,30)

60 20.0

In [43]:
ADD

60

In [42]:
AVG1

20.0

In [44]:
c=3000
def add(a,b):  # 1st
    print("a:",a)  # 
    print("b:",b)  # 3rd
    print("c:",c)  #
    summ=a+b+c     #
    print(f"the summation of {a},{b} and {c} is : {summ}")
c=9000
add(100,200)  #2nd

a: 100
b: 200
c: 9000
the summation of 100,200 and 9000 is : 9300

In [45]:
c=3000
def add(a,b):
    c=5000
    print("a:",a)
    print("b:",b)
    print("c:",c)
    summ=a+b+c
    c=8000
    print(f"the summation of {a},{b} and {c} is : {summ}")
c=9000
add(100,200)

a: 100
b: 200
c: 5000
the summation of 100,200 and 8000 is : 5300

In [3]:
c=3000
def add(a,b,c=10000):
    c=7000
    print("a:",a)
    print("b:",b)
    print("c:",c)
    summ=a+b+c
    c=50000
    print(f"the summation of {a},{b} and {c} is : {summ}")
c=9000
add(100,200)

a: 100
b: 200
c: 7000
the summation of 100,200 and 50000 is : 7300

In [6]:
# write a program ask the user enter a number
#print it is an even and odd

def even_odd():
    num=eval(input("enter the number:"))
    if num%2==0:
        print("the number even:")
    else:
        print("the number odd:")

even_odd()

print("with argument")
def even_odd1(num):
    if num%2==0:
        print("even")
    else:
        print("odd")

even_odd1(8)


print("with out argument")
def even_odd2(num=10):
    if num%2==0:
        print("even")
    else:
        print("odd")

even_odd2()

enter the number: 12

the number even:
with argument
even
with out argument
even

In [7]:
def even_odd2(num1=202):
    global num1
    if num1%2==0:
        print(f"{num1} is an even")
    else:
        print(f"{num1} is an odd")

even_odd2()

SyntaxError: name 'num1' is parameter and global (2129037098.py, line 2)

**Parameter va Variable**

- parameters also called as arguments.
- this always inside the function  brackets
- variables either outside the function or inside the fiunction

**return**
- return means function is giving something
- we know that local variables can not use outside the function
- in order to use local variables outside the function , we have two methods
- **global**
- **return**

In [11]:
def add():
    a=10
    b=20
    c=a+b
    print(c)

add()

30

In [16]:
def add():
    a=10
    b=20
    c=a+b
    return(c)

value=add()

In [17]:
value

30

In [18]:
value=10,20
value

(10, 20)

In [19]:
val1,val2= 10,20
val1

10

In [20]:
val2

20

In [21]:
val1, val2=10
val1   # do not given value are val1/val2

TypeError: cannot unpack non-iterable int object

In [23]:
# two variable used on the case 
def add():
    a=10
    b=20
    c=a+b
    return(a,c)

a,c=add()

In [24]:
a,c

(10, 30)

In [25]:
# two variable used on the case 
def add():
    a=10
    b=20
    c=a+b
    return(a,c)

val1,val2=add()

In [27]:
val1

10

In [28]:
val2

30

In [34]:
# three variables used on the case

def avg(a,b,c):
    summ=a+b+c
    Avg=(a+b+c)/3
    return(summ,Avg)
summ,Avg=avg(12,20,30)
print(summ)
print(Avg)

62
20.666666666666668

In [37]:
def even_odd():
    num=eval(input("enter the number:"))
    if num%2==0:
        print("the number even:")
        return(num)
    else:
        print("the number odd:")
        return(num)

num2=even_odd()
print(num)

enter the number: 45

the number odd:
45

In [41]:
def even_odd():
    num=eval(input("enter the number:"))
    if num%2==0:
        val=10
        print("the number even:")
        return(num+10)
    else:
        val=20
        print("the number odd:")
        return(num+20)

output=even_odd()
print(output)

enter the number: 20

the number even:
30

In [42]:
print(output)

30

**recursive program**


**function in function**

In [43]:
def greet1():
    print("hello good morning")

def greet2():
    print("hello good night")

greet1()
greet2()

hello good morning
hello good night

In [1]:
def greet1():
    print("hello good morning")

def greet2():
    print("hello good night")
    greet1()


greet2()

hello good night
hello good morning

In [4]:
def greet3():
    print(" i don't know what im doing")
    

greet3()

 i don't know what im doing

In [18]:
def add(num):
    if num==0:
        return(0)
    else:
        summ=num+add(num-1)
        return summ
a=eval(input("enter the number:"))
num1=add(a)
print(num1)

enter the number: 12

78