In [ ]:
**basic representations**

- strings will use in quotes
- list elements is in square brackets

In [1]:
list1=[1,2,3,4,5]
list1

[1, 2, 3, 4, 5]

In [2]:
print(list1)

[1, 2, 3, 4, 5]

In [3]:
type(list1)

# for string===str
# we will say string === but type is str
# we will say list ==== type

list

In [4]:
list1=['a','b','c','d']
print(list1)

['a', 'b', 'c', 'd']

In [5]:
list1=[1,2,3,4,5,'a','b','c','d']
list1

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd']

In [6]:
print(list1)

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd']

In [7]:
list1=[1,2,3,4,5,'a','b','c','d',True,False]
list1

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', True, False]

In [8]:
list1=[2.4,5.6,4.9,'a','b','c']
list1

[2.4, 5.6, 4.9, 'a', 'b', 'c']

In [9]:
list1=[88656,23344444,4674846]
print(list1)

[88656, 23344444, 4674846]

In [10]:
list1=[2+3j,6+3j+4]
print(list1)

[(2+3j), (10+3j)]

In [11]:
list112=[_]
list112

[[2.4, 5.6, 4.9, 'a', 'b', 'c']]

In [12]:
list112 = [1]  # List with one element
list112 = ["hello"]  # List with a string

In [14]:
list1=[10,20,2,5,75]
list2=['apple','Apple','cherry','banana']
list3=[10,20,2,5,75,'apple','Apple','cherry','banana']
# perform all inbuilt sunctions
# len max min summ sorted rversed

In [15]:
print(len(list1))
print(len(list2))
print(len(list3))

5
4
9

In [17]:
print(max(list1))

75

In [18]:
print(max(list2))

cherry

In [19]:
print(max(list3))

TypeError: '>' not supported between instances of 'str' and 'int'

In [21]:
print(min(list1))

2

In [22]:
print(min(list2))

Apple

In [23]:
print(min(list3))

TypeError: '<' not supported between instances of 'str' and 'int'

In [24]:
list1=[10,20,2,5,75]
print(sum(list1))

112

In [25]:
list2=['apple','Apple','cherry','banana']
print(sum(list2))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [26]:
list3=[10,20,2,5,75,'apple','Apple','cherry','banana']
print(sum(list3))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [27]:
print(sorted(list1))

[2, 5, 10, 20, 75]

In [28]:
print(sorted(list2))

['Apple', 'apple', 'banana', 'cherry']

In [29]:
print(sorted(list3))

TypeError: '<' not supported between instances of 'str' and 'int'

In [30]:
a=reversed(list1)

In [31]:
for i in a:
    print(i,end=' ')

75 5 2 20 10

In [32]:
a=reversed(list2)

In [33]:
for i in a:
    print(i,end=' ')

banana cherry Apple apple

In [ ]:
# in the interview 
# list=[10,20,2,5,75]
# Q1) sort the list without sorted function
#Q2) find the max value with out max function
#Q3) find the min value with out min function
# Q4) reverse the element without reversed function
# Q5) sum the element without using sum function
# Q6) find the second minimum and second maximum

In [37]:
list1=[10,20,2,5,75]
# Q1) sort the list without sorted function
# print(sorted(list))
n=len(list1)
for i in range(n):
    for j in range(i+1,n):
        if list1[i]>list1[j]:
            list1[i],list1[j]=list1[j],list1[i]

list1

[2, 5, 10, 20, 75]

In [43]:
#Q2) find the max value with out max function
list1=[10,20,2,5,75]
max_num=list1[0]
for num in  list1:
    if max_num>num:
        
        num=max_num

print("max num:",num)

max num: 75

In [44]:
#Q3) find the min value with out min function
list1=[10,20,2,5,75]
min_num=list1[0]
for num in list1:
    if min_num>num:
        min_num=num

print("min_num:",min_num)

min_num: 2

In [55]:
# Q4) reverse the element without reversed function
list1=[10,20,2,5,75,99]
reversed_list=[]
for i in range(len(list1)-1,-1,-1):  
    reversed_list.append(list1[i])

print(reversed_list)

[99, 75, 5, 2, 20, 10]

In [56]:
# Q5) sum the element without using sum function
list1=[10,20,2,5,75]
summ=0
for i in list1:
    summ=summ+i

print("summ number:",summ)

summ number: 112

In [57]:
#Q6) find the second minimum and second maximum
list1=[10,20,2,5,75]
num1=sorted(set(list1))
sec_min=num1[1]
sec_max=num1[-2]
print("sec_min:",sec_min)
print("sec_max:",sec_max)

sec_min: 5
sec_max: 20

**Concatenation**

In [58]:
list1=[1,2,3,4,5]
list2=['A','B','C','D']
list3=list1+list2
print(list3)

[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D']

In [61]:
print(list1*2)
list2*2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

['A', 'B', 'C', 'D', 'A', 'B', 'C', 'D']

In [62]:
'python'*2

'pythonpython'

In [63]:
print(list1+list1)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
list1+list1   # W 
list1-list1   # F
list1*list1   # F
list1/list1   # F

**index**

In [67]:
list1=[1,2,3,4,5,'A','B','C','D']
list1.index('A')

5

In [68]:
list1=[1,2,3,4,5,'A','B','C','D']
list1[0],list1[-6]

(1, 4)

In [69]:
# postive index of 1 is 0
# negative index of 4 is -6
# postive index is 0 and negative index is -6 for 0
list1=[1,2,3,4,5,'A','B','C','D']
n=len(list1)
print(n)
for i in range(0,n):
    print(f" the postive number {i} is : the negative number {i-n}")
    print(f" the positve number {list1[i]} is {i}")
    print(f"the negative number {list1[i]} is {i-n}")
    print("\n")

9
 the postive number 0 is : the negative number -9
 the positve number 1 is 0
the negative number 1 is -9


 the postive number 1 is : the negative number -8
 the positve number 2 is 1
the negative number 2 is -8


 the postive number 2 is : the negative number -7
 the positve number 3 is 2
the negative number 3 is -7


 the postive number 3 is : the negative number -6
 the positve number 4 is 3
the negative number 4 is -6


 the postive number 4 is : the negative number -5
 the positve number 5 is 4
the negative number 5 is -5


 the postive number 5 is : the negative number -4
 the positve number A is 5
the negative number A is -4


 the postive number 6 is : the negative number -3
 the positve number B is 6
the negative number B is -3


 the postive number 7 is : the negative number -2
 the positve number C is 7
the negative number C is -2


 the postive number 8 is : the negative number -1
 the positve number D is 8
the negative number D is -1

In [70]:
list1=[10,20]
list1[1]

20

In [75]:
list1=[[10]]
# inside list how many element are there :1
#[10]
list1[0][0]

10

In [81]:
list1=[[10,20,32]]
len(list1)

1

In [82]:
list1=[[10,20,32]]
len(list1[0])

3

In [83]:
list1=[10,20]
len(list1)

2

In [84]:
list1=[[10,20]]       
list2=[10,20]
len(list1),len(list2)

(1, 2)

In [85]:
list1=[10,[20]]
len(list1)

2

In [86]:
list1=[10,[20]]
list1[1][0]

20

In [87]:
list1=[10,20,30,'A',['Banana','cherry']]
list1[4][1]

'cherry'

In [89]:
list1=[10,20,30,'A',['Apple','B',['Banana'],'C',['cherry']]]
list1[4][4][0]

'cherry'

In [90]:
list1=['Apple',['Kashmir',['India',['circket',['bat']]]]]
list1[1][1][1][1][0]

'bat'

In [91]:
list1=[[[[[[[[['Apple']]]]]]]]]
list1[0][0][0][0][0][0][0][0][0]

'Apple'

In [92]:
list1=['A',['Apple','B',['Banana'],'C',['Cherry']]]
len(list1)
list1[1][4][0]

'Cherry'

In [93]:
list1=['A',['Apple','B',['Banana','C',['Cherry','D',['Dragon fruite']]]]]
# len(list1)
# len(list1[0])
list1[1]

['Apple', 'B', ['Banana', 'C', ['Cherry', 'D', ['Dragon fruite']]]]

In [94]:
list1[1][2]

['Banana', 'C', ['Cherry', 'D', ['Dragon fruite']]]

In [95]:
list1[1][2][2]

['Cherry', 'D', ['Dragon fruite']]

In [96]:
list1[1][2][2][2]

['Dragon fruite']

In [97]:
list1[1][2][2][2][0]

'Dragon fruite'

In [98]:
list1=['A',['Apple','B',['Banana','C',['Cherry','D',['Dragon fruite']]]]]
list1[1][2][2][2][0]

'Dragon fruite'

In [99]:
list1=['Apple',['Kashmir',['India',['Criket',['Bat']]]]]
list1[1][1][1][1][0]

'Bat'

In [100]:
list1=['A',['Apple','B',['Banana','C',['Cherry','D',['Dragon fruite']]]]]
list1[1][2][2][2][0]

'Dragon fruite'

In [101]:
list1=['Apple',['Kashmir',['India',['Criket',['Bat',['ball']]]]]]
list1[1][1][1][1][1][0]

'ball'

In [ ]:
list1=[10,20,30,'A',['Apple','B',['Banana'],'C',['cherry',['mango']]]]
list1[4][4][1][0]

In [102]:
list1=['A',['Apple','B',['Banana'],'C',['cherry',[10,20,30,['mango','c',['chips']]]]]]
list1

['A',
 ['Apple',
  'B',
  ['Banana'],
  'C',
  ['cherry', [10, 20, 30, ['mango', 'c', ['chips']]]]]]

In [103]:
list1[1][4][1][3][2][0]

'chips'

In [104]:
list1=['A',['Apple','B',['Banana'],'C',['cherry',[10,20,30,['mango','c',['chips']]]]]]
list1

['A',
 ['Apple',
  'B',
  ['Banana'],
  'C',
  ['cherry', [10, 20, 30, ['mango', 'c', ['chips']]]]]]

In [105]:
list1[1][4][1][3][2][0]

'chips'

In [106]:
list1=['A',['Apple','B',['Banana','C',['Cherry','D',['Dragon fruite']]]]]
list1

['A', ['Apple', 'B', ['Banana', 'C', ['Cherry', 'D', ['Dragon fruite']]]]]

In [107]:
list1[1][2][2][2][0]

'Dragon fruite'

In [108]:
# postive index of 1 is 0
# negative index of 4 is -6
# postive index is 0 and negative index is -6 for 0
list1=[1,2,3,4,5,'A','B','C','D']
n=len(list1)
for i in range(0,n):
    print(f"the postive number {i} , the negative number {i-n}")
    print(f"the postive number {list1[i]} is : {i}")
    print(f"the negative number {list1[i]} is : {i-n}")
    print("\n")

the postive number 0 , the negative number -9
the postive number 1 is : 0
the negative number 1 is : -9


the postive number 1 , the negative number -8
the postive number 2 is : 1
the negative number 2 is : -8


the postive number 2 , the negative number -7
the postive number 3 is : 2
the negative number 3 is : -7


the postive number 3 , the negative number -6
the postive number 4 is : 3
the negative number 4 is : -6


the postive number 4 , the negative number -5
the postive number 5 is : 4
the negative number 5 is : -5


the postive number 5 , the negative number -4
the postive number A is : 5
the negative number A is : -4


the postive number 6 , the negative number -3
the postive number B is : 6
the negative number B is : -3


the postive number 7 , the negative number -2
the postive number C is : 7
the negative number C is : -2


the postive number 8 , the negative number -1
the postive number D is : 8
the negative number D is : -1

In [109]:
list1=[10,20,2,5,75]
n=len(list1)
i=0
j=n-1
while i<j:
    list1[i],list1[j]=list1[j],list1[i]
    i+=1
    j-=1
print(list1)

[75, 5, 2, 20, 10]

**range vs in**
- when we have use with  index then go for range
- when we have use with only element go for in

**mutable vs immutable**

In [110]:
list1=['A',['Apple','B',['Banana','C',['Cherry','D',['Dragon fruite']]]]]
list1[1][2][2]=100
list1

['A', ['Apple', 'B', ['Banana', 'C', 100]]]

In [111]:
list1=[100,200,300,400]
list1[0]=20
list1

[20, 200, 300, 400]

**list are mutable**

**slice**

In [112]:
l1=[10,20,30,40,50,'A','B','C','D','E','apple','banana']
l1

[10, 20, 30, 40, 50, 'A', 'B', 'C', 'D', 'E', 'apple', 'banana']

In [113]:
l1[::]

[10, 20, 30, 40, 50, 'A', 'B', 'C', 'D', 'E', 'apple', 'banana']

In [114]:
l1[::-1]

['banana', 'apple', 'E', 'D', 'C', 'B', 'A', 50, 40, 30, 20, 10]

In [115]:
l1[2:10:2]

[30, 50, 'B', 'D']

In [116]:
l1[2:10:-2]

[]

In [117]:
l1[2:-10:2]

[]

In [118]:
l1[-2:10:2]

[]

In [119]:
l1[2:-10:-2]

[]

In [120]:
l1[-2:10:-2]

[]

In [121]:
l1[-2:-10:2]

[]

In [122]:
l1[-2:-10:-2]

['apple', 'D', 'B', 50]

In [123]:
l1[10:2:2]

[]

In [124]:
l1[10:2:-2]

['apple', 'D', 'B', 50]

In [125]:
l1[-10:2:-2]

[]

In [126]:
l1[-10:-2:-2]

[]

**methods**

- if we want to know the strings method

- dir('')

In [ ]:
dir('')

- clear
- copy
- count

In [127]:
l1=[10,20,30,40,50,'A','B','C','D','E','apple','banana']
l1.clear()
l1

[]

In [128]:
l1=[10,20,30,40,50,'A','B','C','D','E','apple','banana']
l1.append(100)
l1

[10, 20, 30, 40, 50, 'A', 'B', 'C', 'D', 'E', 'apple', 'banana', 100]

In [130]:
l1=[10,20,30,40,50,'A','B','C','D','E','apple','banana']
l2=l1.copy()
l1.clear()
print(l1)
print(l2)

[]
[10, 20, 30, 40, 50, 'A', 'B', 'C', 'D', 'E', 'apple', 'banana']

In [131]:
l1=[10,20,30,40,50,'A','B','C','D','E','apple','banana']
l1.count('E')

1

In [132]:
str1='ola ola ola'
str1.count('l')

3

**append**
- append is very very important method in the entire list+
- in our life we will use this method very frequently
- append means adding an element at last

In [133]:
l1=[10,20,30]
l1.append('apple')
l1

[10, 20, 30, 'apple']

In [134]:
l1=[10,20,30,'A','B','C', 'BANANA', 'APPLE']
l1.append('greps')
l1.append('orenge')
l1

[10, 20, 30, 'A', 'B', 'C', 'BANANA', 'APPLE', 'greps', 'orenge']

In [135]:
l1=[10,20,30]
l1.append('apple','banana')
l1

TypeError: list.append() takes exactly one argument (2 given)

In [136]:
l1=[10,20,30]
l1.append(['apple','banana'])
l1

[10, 20, 30, ['apple', 'banana']]

**always recall if you see anywhere mutiple values means most the time we will keep those value in list**

In [137]:
l1=['abhay', 'rahul',' rajan' ,'goli']
l1.append('hello')
l1

['abhay', 'rahul', ' rajan', 'goli', 'hello']

**append method is used to store the outputs**

In [138]:
# for example i want to append a number from 1 to 5
# l=[1,2,3,4,5]
l=[]
l.append(1)
l.append(2)
l.append(3)
l.append(4)
l.append(5)
l.append(6)
l

[1, 2, 3, 4, 5, 6]

In [139]:
l=[]
for i in range(1,6):
    l.append(i)
l     # print(l)

[1, 2, 3, 4, 5]

In [141]:
# wap ask the user enter 3 random numbers
# add perfrom the square of the number , save those squares in a list
from random import randint as rt
for i in range(10):
    num=rt(1,100)
    print(num)

21
34
5
30
69
63
34
96
86
65

In [142]:
# wap ask the user enter 3 random numbers
# add perfrom the square of the number , save those squares in a list
import random 
for i in range(3):
    num=random.randint(1,100)
    print(num)

99
37
76

In [143]:
# wap ask the user enter 3 random numbers
# add perfrom the square of the number , save those squares in a list
import random 
l=[]
for i in range(3):
    num=random.randint(1,100)
    l.append(num)
l

[87, 35, 15]

In [144]:
# wap ask the user enter 3 random numbers
# add perfrom the square of the number , save those squares in a list
import random 
l=[]
for i in range(3):
    num=random.randint(1,100)
    print(f"{num} is : {num*num}")
l

68 is : 4624
55 is : 3025
43 is : 1849

[]

In [145]:
# Q.1 wap ask the user enter 3 random numbers
# add perfrom the square of the number , save those squares in a list
import random 
l=[]
for i in range(3):
    num=random.randint(1,100)
    l.append(f"{num} is : {num*num}")
l

['89 is : 7921', '73 is : 5329', '2 is : 4']

In [146]:
# Q.2 i already have a list of numbers
# l=[10,47,53,12,27]
# from above list i want to get a even list and odd list
# even list= [10,12]
# odd list=[47,53,27]
l=[10,47,53,12,27]
even_list=[]
odd_list=[]
for i in l:
    if i%2==0:
        even_list.append(i)
        
    else:
        odd_list.append(i)

print(f" even_list : {even_list}")
print(f" odd_list : {odd_list}")

 even_list : [10, 12]
 odd_list : [47, 53, 27]

In [147]:
# Q.3)  input=['hyd', 'bengaluru', 'pune','mumbai']
#       output=['HYD' ,'BANGALURU','PUNE','MUMBAI']
input=['hyd', 'bengaluru', 'pune','mumbai']
output=[]
for i in input:
    output.append(i.upper())
print(f"input in this : {input}")
print(f"output in this : {output}")

input in this : ['hyd', 'bengaluru', 'pune', 'mumbai']
output in this : ['HYD', 'BENGALURU', 'PUNE', 'MUMBAI']

In [ ]:
dir(list)

**extend**

In [148]:
l1=[1,2,3,4,5]
l2=['A','B','C','D','E']
l2.extend(l1)
l2
# find the diff between append extend concatenation

['A', 'B', 'C', 'D', 'E', 1, 2, 3, 4, 5]

In [149]:
l1=[1,2,3,4,5]
l2=['A','B','C','D','E']
l1.extend(l2)
l1

[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D', 'E']

In [150]:
l1=[1,2,3,4,5]
l2=['A','B','C','D','E']
l1.append(l2)
l1

[1, 2, 3, 4, 5, ['A', 'B', 'C', 'D', 'E']]

In [151]:
l1=[1,2,3,4,5]
l2=['A','B','C','D','E']
l1+l2

[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D', 'E']

In [152]:
l1=[1,2,3,4,5]
l2=['A','B','C','D','E']
l1+l2
print(l1)
print(l2)

[1, 2, 3, 4, 5]
['A', 'B', 'C', 'D', 'E']

In [153]:
l1=[1,2,3,4,5]
l2=['A','B','C','D','E']
print(l1+l2)
print(l1)
print(l2)
print('l1 will be overwrite if we use extend')
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D', 'E']
[1, 2, 3, 4, 5]
['A', 'B', 'C', 'D', 'E']
l1 will be overwrite if we use extend
[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D', 'E']

In [154]:
l1=[12.0,235.26,526.14,45.12,458.56]
l2=['abhay', 'singh', 'hyd','telegana']
print(l1+l2)

[12.0, 235.26, 526.14, 45.12, 458.56, 'abhay', 'singh', 'hyd', 'telegana']

**index**

- string we have 
- but in list we have only index

In [156]:
l1=[12.0,235.26,526.14,45.12,458.56]
l1.index(235.26)

1

In [157]:
l2=[12.0,235.26,526.14,45.12,458.56,'abhay', 'singh', 'hyd','telegana']
l1.index(45.12)

3

In [158]:
l1=[1,2,3,4,5,'A','B','C','D','E',5]
i1=l1.index(5)
print(l1.index(5,i1+1))

10

**insert**

- difference between append and insert

In [159]:
l1=[12.0,235.26,526.14,45.12,458.56,'abhay', 'singh', 'hyd','telegana']
# i want tom insert 100 after abhay
id=l1.index('abhay')
l1.insert(id,100)
l1

[12.0, 235.26, 526.14, 45.12, 458.56, 100, 'abhay', 'singh', 'hyd', 'telegana']

In [160]:
l1=[12.0,235.26,526.14,45.12,458.56,'abhay', 'singh', 'hyd','telegana']
# i want tom insert 100 after abhay
id=l1.index('abhay')
l1.insert(id+1,100)
l1

[12.0, 235.26, 526.14, 45.12, 458.56, 'abhay', 100, 'singh', 'hyd', 'telegana']

In [161]:
l1=[12.0,235.26,526.14,45.12,458.56,'abhay', 'singh', 'hyd','telegana']
# i want tom insert 100 after abhay
id=l1.index('abhay')
l1.append(100)
l1

[12.0, 235.26, 526.14, 45.12, 458.56, 'abhay', 'singh', 'hyd', 'telegana', 100]

**pop vs remove**

In [162]:
l1=[12.0,235.26,526.14,45.12,458.56,'abhay', 'singh', 'hyd','telegana']
l1.remove(235.26)
l1

[12.0, 526.14, 45.12, 458.56, 'abhay', 'singh', 'hyd', 'telegana']

In [163]:
l1=[12.0,235.26,526.14,45.12,458.56,'abhay', 'singh', 'hyd','telegana']
l1.pop()

'telegana'

In [164]:
l1=[12.0,235.26,526.14,45.12,458.56,'abhay', 'singh', 'hyd','telegana']
l1.pop(7)

'hyd'

In [165]:
l1=[12.0,235.26,526.14,45.12,458.56,'abhay', 'singh', 'hyd','telegana']
l1.remove('abhay')
l1

[12.0, 235.26, 526.14, 45.12, 458.56, 'singh', 'hyd', 'telegana']

In [166]:
l1=[12.0,235.26,526.14,45.12,458.56,'abhay', 'singh', 'hyd','telegana']
del(l1[5])
l1

[12.0, 235.26, 526.14, 45.12, 458.56, 'singh', 'hyd', 'telegana']

- if we want to delet any element
- pop : base on index 
- remove : based on value 
- del is an inbuilt function

In [ ]:
l1=[12.0,235.26,526.14,45.12,458.56,'abhay', 'singh', 'hyd','telegana']
del(l1)
l1

In [ ]:
l1=[12.0,235.26,526.14,45.12,458.56,'abhay', 'singh', 'hyd','telegana']
del l1[5]     # del(l1[5])
l1

**reverse-reversed**
- reverse is a method
- reversed is an inbuilt function

In [ ]:
l1=[12.0,235.26,526.14,45.12,458.56,'abhay', 'singh', 'hyd','telegana']
l1.reverse()    
l1

In [ ]:
l1=[12.0,235.26,526.14,45.12,458.56,'abhay', 'singh', 'hyd','telegana']
l1.reverse()     
l1

**in place**
- when we perform the operations some time the values will not overwrite

- if we see **inplace** word or **inplace=True**
- this indicates the output will be overwrite in correponding variable

In [ ]:
l1=(1,2,3,4,5)
a=reversed(l1)
list(reversed(l1))

In [ ]:
for i in a:
    print(i)

In [ ]:
l1

**sort and sorted**

In [ ]:
l1=[12.0,235.26,526.14,45.12,458.56]
l1.sort()
l1

In [ ]:
l1=[12.0,235.26,526.14,45.12,458.56]
sorted(l1)
print(l1)

In [ ]:
str1='abhay'
sorted(str1)

- inbuilt function applicable for any datatype
- but methods works write data types