**note:whenenerver if we see bound method or function which indicates we forget the bracke**

In [1]:
input()

 100

'100'

In [2]:
input()

 python

'python'

In [3]:
a=100
type(a)

int

In [4]:
input()
input()
input()

 100
 200
 300

'300'

In [5]:
n1=input()
n2=input()
n3=input()

 100
 200
 300

In [6]:
n1,n2,n3

('100', '200', '300')

In [8]:
n1=input("enter the number1:")
n2=input("enter the number2:")
n3=input("enter the number3:")

enter the number1: 20
enter the number2: 30
enter the number3: 40

In [1]:
n1=input("enter the number1:")
n2=input("enter the number2:")
n1+n2

enter the number1: 458
enter the number2: 698

'458698'

**input value by default string**

In [11]:
n1=input("enter the number1:")  #n1='500'
n2=input("enter the number2:")  #n2='600'
n1+n2 # '500'+'600'='500600'

enter the number1: 500
enter the number2: 600

'500600'

In [12]:
str1='apple'
str2='is'
str3='fruite'
str1+str2+str3

'appleisfruite'

In [14]:
str1=input("enter a string1:")
str2=input("enter a string2:")
str3=input("enter a string3:")
str1+str2+str3

enter a string1: apple
enter a string2: is
enter a string3: fruite

'appleisfruite'

In [1]:
str1=input("enter a string1:")
str2=input("enter a string2:")
str3=input("enter a string3:")
str1+str2+str3

enter a string1: ABHAY
enter a string2: KUMAR
enter a string3: SINGH

'ABHAY KUMAR SINGH'

In [9]:
n1=(input("enter the number1:"))
n2=(input("enter the number2:"))
n1+n2

enter the number1: 12
enter the number2: 36

'1236'

In [2]:
n1=int("500")
n2=int("600")
n1+n2

1100

In [20]:
n1=int(input("enter the number1:"))
n2=int(input("enter the number2:"))
int(n1)+int(n2)

enter the number1: 5200
enter the number2: 4500

9700

In [21]:
n1=float(input("enter the number1:"))
n2=float(input("enter the number2:"))
int(n1)+int(n2)

enter the number1: 10.23
enter the number2: 10.56

20

**eval**

- eval means evaluate
- it is related ton math family
- which means it works only number resresent as string
- it will not works on english letters
- eval will convert the repective data type which is user enter
- if user enter 10 in quotes it will convert into 10
- if user enter 10.5 in quotes it will convert into 10.5

In [ ]:
int('10')    #10
int('10.5')  #error


float('10.5')  #10.5
float('10')  #10

In [23]:
eval('10'),eval('10.5')

(10, 10.5)

In [24]:
n1=eval(input("enter the number1:"))
n2=eval(input("enter the number2:"))
int(n1)+int(n2)

enter the number1: 12
enter the number2: 23

35

In [25]:
n1=eval(input("enter the number1:"))
n2=eval(input("enter the number2:"))
n1+n2

enter the number1: 12
enter the number2: 36

48

In [21]:
#1 wap ask the user enter 3 number n1 ,n2 ,n3 from ketboard
#calculate average

a=eval(input("enter num1:"))
b=eval(input("enter num2:"))
c=eval(input("enter num3:"))
d=(a+b+c)/3
print(f" the avg of three numbers {a}, {b}, {c} is {d}")

enter num1: 5
enter num2: 6
enter num3: 4

 the avg of three numbers 5, 6, 4 is 5.0

In [12]:
#wap ask the user enter name age city
#print my name is python im 10 years old came from hyd


name=input("enter name:")
age=eval(input("enter age:"))
city=input("enter city:")
print("my name is {} im {} years old came from {}".format(name,age,city))
print(f"my name is {name} im {age} years old came from {city}")

enter name: abhay
enter age: 22
enter city: mirzapur up

my name is abhay im 22 years old came from mirzapur up
my name is abhay im 22 years old came from mirzapur up

In [3]:
#3)wap ask the user to enter radidus of a circle calculate area of the circle
# var: radidus  var: pi=3.14
# formuale: pi*radius*radius
# print the answers using f string and format

var=eval(input("enter the radius:"))
pi=3.14
area=pi*radius*radius
print(f"area of the circle with radius {var} and {pi} is:{area}")

enter the radius: 12

area of the circle with radius 12 and 3.14 is:452.15999999999997

In [5]:
# 4)wap ask the user enter breadth and height of a right angle triangle
# calculate the area
# var1: bredath  var2: height
# formuale : 0.5*breadth*heigh

var1=eval(input("enter the breadth:"))
var2=eval(input("enter the heigth:"))
area=0.5*var1*var2
print("the user are triangle of {} and {} is: {}".format(var1,var2,area))
print(f"the user are triangle of {var1} and {var2} is: {area}")

enter the breadth: 12
enter the heigth: 36

the user are triangle of 12 and 36 is: 216.0
the user are triangle of 12 and 36 is: 216.0

In [7]:
# 5)wap ask the user the bill amount and tip amount
#   calculate total bill
#   var1: bill amount var2: tip amount
#   formuale

var1=eval(input("enter bill_amount:"))
var2=eval(input("enter tip_amount:"))
total_amount=var1+var2
print("a usre paying to bill of {} and {} is : {}".format(var1,var2,total_amount))
print(f"a user paying to bill of {var1}  and {var2} is: {total_amount}")

enter bill_amount: 455
enter tip_amount: 45

a usre paying to bill of 455 and 45 is : 500
a user paying to bill of 455  and 45 is: 500

In [10]:
# 6)wap ask the user the bill amount and tip percentage
#    take tip percentage as 10
#   calculate total bill= bill amount+ bill amount*tip per/100
#   var1: bill amount var2: tip amount
#    formuale


var1=eval(input("enter bill_amount:"))
var2=eval(input("enter tip_amount:"))
total_amount=var1+(var1*var2)/100
print("user paying a bill of {} and {} is: {}".format(var1,var2,total_amount))
print(f"user paying a bill of {var1} and {var2} is: {total_amount}")

enter bill_amount: 100
enter tip_amount: 10

user paying a bill of 100 and 10 is: 110.0
user paying a bill of 100 and 10 is: 110.0

In [3]:
# 7)wap ask the length and breadth of a rectangle calculate area
#   var1: length  var2: breadth
#   formulae: length * breadth
var1=eval(input("enter length:"))
var2=eval(input("enter breadth:"))
area=var1*var2
print(f" a rectangle calculate of {var1} and {var2} is : {area} ")

enter length: 5
enter breadth: 6

 a rectangle calculate of 5 and 6 is : 30

In [20]:
# 8) wap ask the user take the radius and calculate volume of sphere
#   formulae: pi*r**3(pi*r*r*r)

radius=eval(input("enter radius:"))
pi=3.14
volume=pi*radius**3
print(f"the volume sphere with radius  {radius} is {volume} ")

enter radius: 4

the volume sphere with radius  4 is 200.96

In [17]:
# 9) wap ask the user enter amount in dollars convert into rupees
#     1$=85rs

dollar=eval(input("enter amount is $:"))
rupees=dollar*85.78
print(f" the value of dollar {dollar} $ in indian rupees is :{rupees}")

enter amount is $: 5

 the value of dollar 5 $ in indian rupees is :428.9

In [19]:
# 10)wap ask the user enter weight in kgs convert into pounds
#    1kg= 2.2pounds

weight=eval(input("enter weight is kg :"))
pound=weight*2.2
print(f"weight {weight} kg in pound is : {pound}")

enter weight is kg : 5

weight 5 kg in pound is : 11.0